// Title
.careers-view__title {
  color: #3b84af;
  font-size: remify(44px);
  text-align: center;
  margin: 170px 0 0;
}

// Apply Now Title
.careers-view__apply {
  background-image: url(../img/backgrounds/projects-bgd.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 27.5em;
  total-center();
    .careers-view__apply-title {
      color: #3b84af;
      font-size: remify(44px);
    }
}

// Form Container
.careers-view__form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -90px;
}

.cv-form__box1 {
  width: 37em;
  height: 32.75em;
  background-color:#f5f5f5;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.25);
    form {
      display: flex;
      flex-direction: column;
        .cv-send__button {
          display: flex;
          justify-content: space-around;
          align-items: center;
          align-self: flex-end;
          background-color: #223a48;
          padding: 0 12px;
          width: 96px;
          height: 42px;
          cursor: pointer;
            img {
              width: 1rem;
            }
            p {
              color: #ffffff;
              font-size: remify(13px);
              margin-top: 3px;
            }
        }
    }
}

.cv-form__box2 {
  img {
    width: 26.87em;
    height: 28.75em;
  }
}