* {
  margin: 0
  padding: 0
}

.contact-view__background {
  background-image: url(../img/backgrounds/services-bgd1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: center;
}

.contacto-view__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3b84af;
  font-size: remify(44px);
  padding: 180px 0 167px;
}

.contacto-view__more-logo {
  position: relative;
    img {
      position: absolute;
      right: 3.12em;
      bottom: 0;
    }
}

//////// Form Container /////////
.contacto-view__form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 141px;
  max-width: 1450px;
  center-block();
}

// Name, e-mail, mesage //
.contacto-view__form-box1 {
  display: flex;
  flex-direction: column;
  padding: 4.56em 20.12em 0 6.25em;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
    form {
      label {
        color: #141414;
        font-size: remify(15px);
        margin: 0 0 0 13px;
      }
      input {
        margin: 0 0 3.12em;
        border: 0;
        border-bottom: solid 1px #e5e5e5;
        width: 100%;  
        padding: 0.5em;
        font-size: remify(13px);
        color: #ababab;
      }
    textarea {
      margin: 26px 0 0;
      border: solid 1px #e5e5e5;
      padding: 1em;
      font-size: remify(13px);
      color: #ababab;
    }
    textarea::placeholder {
      color: #ababab;
      font-size: remify(13px);
    }
  }
}

// Gray box //
.contacto-view__form-box2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f6f6;
  width: 22.62em;
  padding: 5.81em 4em 5.75em
  margin: 0 0 70px -500px;
    .cw-mail, .cw-map {
      display: flex;
      align-items: center;
      margin: 0 0 7px 0;
        span {
          color: #223a48;
          font-size: remify(16px);
          margin: 0 0 0 9px;
        }
    }
    .cw-map {
      margin: 25px 0 7px 0;
    }
    span {
      color: #223a48;
      font-size: remify(11px);
    }
}

.contact-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: remify(12px);
  background-color: #223a48;
  cursor: pointer;
  border-radius: 1px
  width: 96px;
  height: 43px;
  margin: 26px 0 89px auto;
  border none
}

////////////////// Mobile section ////////////////////

// Small devices
@media screen and (max-width: 39.9375em) {
  
  .contacto-view__title {
  font-size: remify(39px);
  padding: 133px 0 61px;
  margin-left: 5%;
  width: 8.31em;
  }

  .contacto-view__more-logo {
    display: none;
}
  
  // Form Container
  .contacto-view__form {
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-items: center;
  }
  
  // Name, e-mail, mesage
  .contacto-view__form-box1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.22);
  z-index: 1;
  }

  form {
    margin: 37px 0 0;
    margin-left: 5%;
    width: 90%;
    label {
    color: #141414;
    font-size: remify(15px);
    margin: 0 0 0 13px;
    }
    input {
    margin: 0 0 3.12em;
    border: 0;
    border-bottom: solid 1px #e5e5e5;
    width: 100%;
    padding: 0.5em;
    font-size: remify(13px);
    color: #141414;
    }
    textarea {
    margin: 26px 0 0;
    border: solid 1px #e5e5e5;
    padding: 1em;
    font-size: remify(13px);
    color: #141414;
    width: 100%;
    }
    textarea::placeholder {
    color: #c4c4c4;
    font-size: remify(13px);
    }
  }

  // Submit botton
  .contact-form__button {
  margin: 26px 0 31px auto;
  }

  // Gray box
  .contacto-view__form-box2 {
    width: 100%;
    margin: 0;
    padding: 0;
      .contacto-view__form-box2-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 61px 0 65px;
        margin-left: 5%;
      }
  }
}

// Medium devices
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

  .contacto-view__title {
    font-size: remify(39px);
    padding: 133px 0 61px;
    center-block();
  }
  
  .contacto-view__more-logo {
    display: none;
  }
  // Form Container
  .contacto-view__form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  // Name, e-mail, mesage
  .contacto-view__form-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    center-block();
    z-index: 1;
  }

  form {
    margin: 37px 0 0;
  }

  // Submit button 
  .contact-form__button {
    margin: 26px 0 31px auto;
  }

  // Gray box
  .contacto-view__form-box2 {
    width: 100%;
    margin: 0;
    padding: auto;
    padding-left: 220px;
  }  
}