* 
  margin 0
  padding 0


.contact-view__background 
  background-image url(../img/backgrounds/services-bgd1.jpg)
  background-size contain
  background-repeat no-repeat
  position center


.contacto-view__title 
  display flex
  justify-content center
  align-items center
  color #3b84af
  font-size remify(44px)
  padding 155px 0 80px


.contacto-view__more-logo 
  position relative
  &::after
    position absolute
    content ''
    right 4.29rem
    bottom 50px
    width 1px
    height 60px
    background-color #000
    animation tada_more_logo linear 1s 2 forwards
    transform-origin 20% 100%
  
  img 
    position absolute
    right 3.12em
    bottom 0
    width 35px
    animation tada_more_logo linear 1s 2 forwards
    transform-origin 20% 100%

//////// Form Container /////////
.contacto-view__form
  width 100%
  position relative
  padding 0 0 0 15%
  display flex
  justify-content flex-start
  align-items center
  margin-bottom 141px
  center-block()

// Name, e-mail, mesage //
.contacto-view__form-box1
  width 67%
  display flex
  flex-direction column
  padding 4.5em 0 0 5em
  box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.19)
  background-color #ffffff
  form 
    width 54%
    .contacto-view__form-group
      display flex
      flex-direction column-reverse
      position relative
    label 
      color #141414
      font-size remify(18)
      margin 0 0 0 13px
      transition .2s all ease
      position absolute
      top -15px
    
    label.error
      right 0
      color red
    
    input 
      margin 0 0 3.12em
      border 0
      border-radius 0px
      border-bottom solid 1px #e5e5e5
      width 100%  
      padding 0.5em 0.5em 0.5em 13px
      font-size remify(14px)
      color #ababab
    
    textarea 
      margin 26px 0 0
      border solid 1px #e5e5e5
      padding 1em
      font-size remify(14px)
      color #ababab
  
    textarea:placeholder 
      color #ababab
      font-size remify(14px)

    input, textarea
      &:focus + label
        font-size remify(16px)
        color #2f76a1
        top -20px
      &:focus + label.error
        color red
        top -15px

// Gray box //
.contacto-view__form-box2 
  position absolute
  right 10%
  display flex
  flex-direction column
  justify-content center
  align-items center
  background-color #f6f6f6
  width 33%
  padding 4.5em 0
  
  
  .cw-mail,
  .cw-map 
    display flex
    align-items center
    margin 0 0 7px 0
     
    span 
      color #223a48
      font-size remify(20)
      margin 0 0 0 9px
      
  
  .cw-map 
    margin 25px 0 7px 0
    span 
    font-size remify(20px)
  
  span 
    color #223a48
    font-size remify(18px)
    
.contact-form__button 
  display flex
  align-items center
  justify-content center
  color #ffffff
  font-size remify(16px)
  background-color #223a48
  cursor pointer
  border-radius 1px
  width 96px
  height 43px
  margin 26px 0 4.5em auto
  border none

  span 
    margin 0 auto
  
////////////////// Mobile section ////////////////////
@media screen and (min-width 768px) and (max-width 1024px)
  .contacto-view__form-box1
    padding 4.5em 0 0 3em
    form
      width 60%  
      input, textarea
        &:focus + label.error
          top -30px
      label.error
        top -30px
        font-size 9px!important

// Medium devices
@media screen and (min-width 480px) and (max-width 767px) 
  .contacto-view__title
    padding 100px 0 50px 40px
    width 9em

  .contacto-view__more-logo 
    display none
  
  // Form Container
  .contacto-view__form 
    padding 0 0 0 0
    margin 0
    height 700px
    align-items flex-start

  // Name, e-mail, mesage
  .contacto-view__form-box1
    display flex
    flex-direction column
    align-items center
    justify-content center
    width 100%
    padding 20px 0 0 0
    box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.19)
    center-block()
    z-index 1
    form
      width 75%
      margin 37px 0 0
      label.error
        top -30px
      input,textarea
        &:focus +label.error
          top -30px
    
  // Submit button 
  .contact-form__button 
    margin 26px 0 31px auto
  
  // Gray box
  .contacto-view__form-box2 
    width 100%
    bottom 0
    right 0
    padding 4.5em 0
    .contacto-view__form-box2-container
      width auto
      margin 0 auto
    

// Small devices
@media screen and (max-width 480px)
  
  .contacto-view__title 
    font-size remify(39px)
    font-size 2.4375rem
    padding 100px 0 30px 40px
    width 9em
  

  .contacto-view__more-logo 
    display none
  
  .contacto-view__form 
    padding 0 0 0 0
    margin 0
    height 735px
    align-items flex-start
  
  // Name, e-mail, mesage
  .contacto-view__form-box1 
    display flex
    flex-direction column
    width 100%
    padding 0
    box-shadow 0 2px 8px 0 rgba(0, 0, 0, 0.22)
    z-index 1
    form 
      margin 50px auto 0 auto
      width 75%
      
      label 
        color #141414
        margin 0 0 0 13px
      label.error
        top -30px
      
      input 
        margin 0 0 3.12em
        border-radius 0px
        border 0
        border-bottom solid 1px #e5e5e5
        width 100%
        color #ababab
      
      textarea 
        margin 26px 0 0
        border solid 1px #e5e5e5
        padding 1em
        color #ababab
        width 100%

      input,textarea
        &:focus + label.error
          top -30px
      
      textarea:placeholder 
        color #ababab
    
    // Submit botton
  .contact-form__button 
    margin 26px 0 31px auto
    

  .contacto-view__form-box2 
    width 100%
    bottom 0
    right 0
    padding 4.5em 0
    .contacto-view__form-box2-container
      width auto
      margin 0 auto
        
