*, h1, h2, h3, h4, h5, p
  margin 0
  padding 0
  box-sizing border-box

a 
  text-decoration none 
label.error
  font-family 'Metropolis'
  font-weight $normal
  
.slick-slide, .slick-current, .slick-active
  &:focus
    outline none !important

// overwriting the log success color and typo.

.alertify-logs
  & > .show
    font-family "Metropolis"
    border-radius 2px

  & > .success
    background: #408ab7

  & > .error
    background: #3780AB

.section_one
  height 100vh
  background-image url('../img/backgrounds/section_1.jpg')
  background-size cover
  background-position center
.br-show-m
  display none
.section_one-wrapper
  height 100vh
  max-width 1065px
  center-block()
  position relative

.section_one-container
  position relative
  width 100%
  height 100vh
  center-block()
  display flex
  justify-content flex-end
  flex-direction column

.section_one-text-wrapper
  position absolute
  width 100%
  height 300px
  display flex
  flex-flow column wrap
  top 50%
  left 50%
  transform translate(-50%, -50%)
.section_one-title-wrapper
  display flex
  // margin-left 20px

.section_one-title-container
  // max-width 522px
  width 50%
  position absolute
  top 0
  left 50%
  transform translateX(-26rem)

.section_one-title
  font-size remify(70)
  color #fff
  letter-spacing -1.7px
  line-height 1.14
  margin 0

.blue-text
  color $blueStandar

.section_one-description-wrapper
  display flex
  justify-content flex-end
  margin-right 20px
  margin-top 1.8rem

.section_one-description-container
  // max-width 496px
  width 50%
  position absolute
  bottom 0
  left 50%

.section_one-description
  font-size remify(21)
  color #fff
  line-height 1.35
  text-align left
  margin 0

.section_one-blue-divider
  width 1px
  height 7rem
  background-color $blueStandar
  position absolute
  bottom 0
  left 50%
  transform translateX(-50%)

.section_one-blue-box
  width 100%
  height 152px
  background-color $blueStandar
  bottom calc(-152px / 2)
  position absolute
  left 50%
  transform translateX(-50%)!important
  

.section_one-white-divider-blue-box
  height calc(50% - 31px)
  width 1px
  background-color #fff
  position absolute
  left 50%
  transform translateX(-50%) !important

.section_one-cicle-circle
  width 51px
  height 51px
  border-radius 50%
  background-color #2c7094
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -65%)
  total-center()

.section_one-cicle-arrow
  width 31px
  height 31px
  border-radius 50%
  background-color #fff
  total-center()
  -webkit-box-shadow 0px 10px 18px -8px rgba(0,0,0,1)
  -moz-box-shadow 0px 10px 18px -8px rgba(0,0,0,1)
  box-shadow 0px 10px 18px -8px rgba(0,0,0,1)
  img
    width 40%  
//----------------------fin section_one-----------------------------



// ========== section_projects ========== //
.section_projects
  background-image url('../img/backgrounds/projects-bgd.png')
  background-position top right
  background-size 100% 50%
  background-repeat no-repeat
    
.section_projects-container
  position relative
  width 100vw
  padding-top 11rem
  padding-bottom 5rem
  
.section_projects-title-wrapper
  total-center()
  margin-bottom 70px

.section-blue-font
  color $blueStandar

.section-title
  font-size remify(40)

.section_projects-carousel-container
  margin 0 0 50px 0

.section_projects-slick-firstrow
  margin 0 0 30px -45px
  
  .slick-track
    display flex 
    align-items flex-end

.section_projects-slick-secondrow
  margin-left -111px
  
.section_projects-slick-item
  background-repeat no-repeat
  background-position center
  background-size cover
  width 16rem !important
  height 10rem
  margin 0 15px
  display flex !important 
  justify-content center
  align-items center
  &:focus
    outline none !important

  img
    -webkit-transition all .2s ease-in
    -ms-transition all .2s ease-in
    -moz-transition all .2s ease-in
    transition all .2s ease-in

  img:hover
    -webkit-transition all .2s ease-in
    -webkit-transform scale(1.2)
    -ms-transition all .2s ease-in
    -ms-transform scale(1.2)  
    -moz-transition all .2s ease-in
    -moz-transform scale(1.2)
    transition all .2s ease-in
    transform scale(1.2)

.item_project-bgd-1
  background-image url('../img/c_dreamwater.png')
  img
    width 4rem

.item_project-bgd-2
  background-image url('../img/c_rer.png')
  img
    width 7rem

.item_project-bgd-3
  background-image url('../img/g_rochalandero.png')
  
  width 21.5rem !important
  height 13.5625rem
  img
    width 6rem

.item_project-bgd-4
  background-image url('../img/c_dondinero.png')
  img
    width 8rem

.item_project-bgd-5
  background-image url('../img/c_florella.png')
  img
    width 6.5rem

.item_project-bgd-6
  background-image url('../img/g_higia.png')
  width 21.5rem !important
  height 13.5625rem
  img
    width 6rem

.item_project-bgd-7
  background-image url('../img/c_vre.png')
  img
    width 7rem

.item_project-bgd-8
  background-image url('../img/c_jb.png')
  img
    width 3.5rem

.item_project-bgd-9
  background-image url('../img/g_neopraxis.png')
  width 21.5rem !important
  height 13.5625rem
  img
    width 8.5rem

.item_project-bgd-10
  background-image url('../img/c_workingch.png')
  img
    width 5.5rem

.item_project-bgd-11
  background-image url('../img/g_rgv.png')
  img
    width 7rem

.item_project-bgd-12
  background-image url('../img/c_aguaviento.png')
  
  width 21.5rem !important
  height 13.5625rem
  img
    width 7.5rem

.item_project-bgd-13
  img
    width 4.5rem
  background-image url('../img/c_iidea.png')

.item_project-bgd-14
  img
    width 6rem
  background-image url('../img/g_nutriologa.png')
  

.item_project-bgd-15
  img
    width 6rem
  background-image url('../img/g_brick.png')
  width 21.5rem !important
  height 13.5625rem

.item_project-bgd-16
  img
    width 8rem
  background-image url('../img/c_cierralo.png')


.section_projects-btn-wrapper
  total-center()
  flex-direction column
.section-projects-carousel-arrows
  width 100px
  height 25px
  margin-bottom 20px
  display flex
  flex-direction row
  align-items center
  justify-content space-around
  img
    width 20%
    cursor pointer
  .section_projects-carousel-prev
    transform rotate(180deg)

.section_projects-blue-btn
  total-center()
  background-color $blueStandar
  width 171px
  height 51px
  p 
    font-size remify(18)
    color #fff
  &:hover
    background-color #336e91
    color #fff

//----------------------fin section_projects-----------------------------


// ========== section_services ========== //
.section_services
  background-color #efefef 
 
.section_services-container
  position relative
  max-width 1030px
  padding-top 4.5rem
  padding-bottom 5rem
  center-block()
  display flex
  justify-content space-around
  flex-direction column

.section_services-title-wrapper
  @extends .section_projects-title-wrapper

.section_services-tabs
  display flex
  margin-bottom 60px

  .section_services-tablink
    position relative
    width 33.33%
    padding 20px 0
    border none
    border-bottom 2px solid $blueStandar
    background-color inherit
    transition 0.3s
    outline none
    cursor pointer
    &:hover
      &:after
        content ''
        width 100%
        height 8px
        background-color $blueStandar
        position absolute
        bottom -8px
        left 0
    .section_services-tablink-title
      color #9d9d9d

.section_services-tablink.open-tab
  p
    color #000 !important
    font-weight bold
    letter-spacing 1px

.section_services-tablink.open-tab::after
  content ''
  width 100%
  height 8px
  background-color $blueStandar
  position absolute
  bottom -8px
  left 0

.section_services-tabcontent-wrapper
  width 100%
  total-center()
  .section_services-tabcontent-img
    width 50%
    height auto
.shopify-wrapper
  display flex
  align-items center
  justify-content flex-start
.section_services-tabcontent
  padding 0 25px 0 30px !important
  width 50%
  height 412px
  background-color $blueStandar
  color #fff 
  display flex
  flex-direction column
  justify-content center
  img
    width 145px
    margin-top 15px
    margin-right 45px

.section_services-tabcontent-title
  font-size remify(30)
  position relative

.section_services-tabcontent-divider
  width 6%
  height 2px
  background-color #fff
  margin-top 15px
  margin-bottom 20px

.section_services-tabcontent-text
  word-spacing 3px
  line-height 1.3

.section_services-btn
  background-color $darkBlue
  width 137px
  height 50px
  margin-top 30px
  total-center()
  &:hover
    background-color #102c3e
  p
    color #fff
    font-size remify(18)



//----------------------fin section_services-------------------------

// ========== section_ Form ========== //
.section-form-title
  color #fff
  font-size remify(44)
  text-align center
  cursor pointer

.section_form .slick-list
  padding-bottom 13px !important 

label.error
  font-size .8em !important

.section_form
  background-color $blueStandar
  position relative
  total-center()
  height 45vh
  width 100%

.section_form-carousel
  center-block()
  width 100%
  
  .slick-prev
    display none !important

  .slick-right
    right 0 
.section_form-carousel-item:first-child
  justify-content center
.section_form-carousel-item
  height 7rem !important
  position relative
  outline none
  display flex !important
  align-items center
  justify-content space-between
  margin 0 100px

  .section_form-input-wrapper
    center-block()
    cursor pointer
  label
    color #fff
    font-size remify(44)
  label.error
    color #ff3636
  
  input
    padding 10px
    font-size remify(17)
    color #FFF
    appearance none
    border none
    border-radius 0px
    box-shadow none
    outline none
    background transparent
    border-bottom 2px solid #fff
  p
    color $lightBlue
    font-size remify(17)

.carousel-arrow
  position absolute
  bottom 0
  width 20px
  cursor pointer

.section_form-carousel-next
  right 0

.section_form-carousel-prev
  left 0
  transform rotate(180deg)

.carousel-arrow.last-prev
  bottom 0 

.section_form-btn
  @extends .section_services-btn
  width 115px
  border none
  justify-content space-around
  padding 0 15px
  margin-left auto
  margin-top 10vh
  cursor pointer
  img
    width 1rem
  p
    color #fff
    font-size 18px
//----------------------fin section_form-----------------

// ========== section_Work With Us ========== //
.section_workWithUs
  background-image url('../img/backgrounds/work-wUs-bgd.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 70vh
  total-center()
  flex-direction column

.section_workWithUs_title
  font-size remify(40)
  text-align center
  margin-bottom 5%
  color #fff

.section_workWithUs-btn
  @extends .section_projects-blue-btn

.section_form_mobile
  display none

@media screen and (min-width 640px) and (max-width 1024px) 
  .section_form-carousel-item 
    p
      display none

@media screen and (max-width: 1030px)
  .section_one-blue-box
    width 80%
  
@media screen and (max-height: 480px)
  .section_projects-container
    padding-top 5rem
  
  .section_one-title-container
    top 25%
  .section_one-title
    font-size remify(63)
  .section_one-description-container
    bottom 10% !important
  .section_one-description
    font-size remify(18)
  .section_one-blue-divider
    height 2.3rem !important
  
  .section_one-blue-box
    height 50px
    bottom calc(-50px / 2)
  .section_one-white-divider-blue-box
    height calc(50% - 5px)
  
  .section_one-cicle-circle
    width 30px
    height 30px
    transform translate(-50%, -50%)
    .section_one-cicle-arrow
      width 20px
      height 20px
@media screen and (max-width 992px)
  .cv-form__box2 
      display none
@media screen and (min-width 768px) and (max-width 992px)
  .header-wrapper
    max-width 708px
  .site-navbar.active .site-navbar__desktop-logo-container
    transform translate(289px, -122px)
  .section_one-title
    font-size remify(52)
  
  .section_one-blue-divider
    height 7rem

  .section_one-title-container
    transform translateX(-75%)
  
  .section_one-description-container
    bottom 10%
    p
      padding-right 80px
  
  .section_form-carousel-item
    height 11rem !important
    label
      font-size remify(38)
  .section_form-btn
    margin-top 14vh
  .site-navbar__menu-link
    padding 34px 5px 35px
    font-size remify(12)
    &:hover
      &:after
        bottom -4px
    &.active
      &:after
        bottom -4px

  

  
@media screen and (max-width: 768px)
  .br-show-m
    display block
  
  .hide-onMobile
    display none
  .hide-on-mobile
    display none 
  .show-on-mobile
    display flex

  .section_one
    height 100%
  
  .section_one-wrapper
    display block
    height 100%
  .section_one-text-wrapper
    padding-left 25px
    padding-right 25px

  .section_one-title-wrapper
    margin 0 0 0 25px
  .section_one-title-container
    transform translateX(-32%)
    width 100%
  .section_one-description-container
    width 50%
  .section_one-title
    font-size remify(48)
    text-align left
  
  .section_one-description-wrapper
    @extends .section_one-title-wrapper
    margin 0 25px
  
  .section_one-description
    margin-top 30px
    line-height 1.3
  
  .section_one-blue-divider
    height 10rem
  
  .section_one-blue-box
    left 50%
    transform translateX(-50%) !important
    height 100px
    bottom calc(-100px / 2)
  
  .section_services-tabcontent-wrapper
    flex-wrap wrap
    .section_services-tabcontent-img
      width 100%
      height auto
  
  .section_services-tabcontent
    padding 70px 30px 70px 35px
    width 100%
    height 230px
  .section_services-container
    padding-bottom 0
    padding-top 3.5rem
  .section_services-tabs
    margin-bottom 25px
  
  .section_services-title-wrapper
    margin-bottom 2rem

  .section_form_mobile
    position relative
    display flex
    background-color #f0f0f0
    padding 50px 30px 30px 30px
    height 365px
    flex-direction column
    justify-content flex-start

  .section_form_mobile-item
    display flex
    flex-direction column-reverse
    align-items flex-start
    justify-content flex-end
    margin 15px 0 
    position relative

    label
      color #c9c9c9
      font-size remify(18)
    label.error
      color red
      position absolute
      top -20px
      right 0
           

    input, textarea
      @extends .section_form-carousel-item input
      width 100%
      border-radius 0px
      color #4d4d4d
      border none

      &:focus
        outline none
        border-bottom 2px solid $darkBlue
        border-radius 0px
        margin-bottom 35px

      &:focus + label
        font-size remify(26)
        color $darkBlue
        font-weight bold
        
      &:focus + label.error
        color red
        position absolute
        top -20px
        right 0
  
  .section_form_mobile-btn
    @extends .section_services-btn
    border none
    position absolute
    right 30px
    bottom 30px
    width 100px
    justify-content space-around
    padding 0 9px
    margin-left auto
    
    img
      width 1.3rem

  .section_projects
    background-image url('../img/backgrounds/projects-bgd-mobile.png')
    background-position 0 14%
    background-size 100% 14%
    background-repeat no-repeat

@media screen and (min-width 481px) and (max-width 640px)
  .section_one-container
    height 100vh
  .section_one-description-container
    left 50%
    bottom 10%
    width 85%
  .section_one-title-container
    left 50%
    transform translateX(-95%)
  
  .section_one-blue-divider 
    height 7rem

@media screen and (max-width: 480px)
  .section_one-blue-divider 
    height 5.5rem
  .section_one-container
    height 85vh
  
  .section_one-description-container
    left 30px
    bottom 15%
    width 85%

  .section_one-title-container
    left 30px
    top 3.5rem
    transform translateX(0)
  
  .section_services-tabcontent
    img
      width 110px