*, h1, h2, h3, h4, h5, p
  margin 0
  padding 0
  box-sizing border-box

a 
  text-decoration none 

.section_one
  height 100vh
  background-image url('../img/backgrounds/section_1.jpg')
  background-size cover
  background-position center

.section_one-wrapper
  height 100vh

.section_one-container
  position relative
  max-width 1030px
  height 100vh
  center-block()
  display flex
  justify-content center
  flex-direction column

.section_one-title-wrapper
  display flex

.section_one-title-container
  max-width 522px

.section_one-title
  font-size remify(82)
  color #fff
  letter-spacing -1.7px
  line-height 1.14
  margin 0

.blue-text
  color $blueStandar

.section_one-description-wrapper
  display flex
  justify-content flex-end

.section_one-description-container
  max-width 496px

.section_one-description
  font-size remify(22)
  color #fff
  line-height 1.14
  margin 0

.section_one-blue-divider
  width 1px
  height 90px
  background-color $blueStandar
  center-block()
  position absolute
  bottom 0
  left 49.99%

.section_one-blue-box
  width 100%
  height 120px
  background-color $blueStandar
  bottom calc(-120px / 2)
  position absolute
  display flex
  flex-direction column
  justify-content flex-start
  align-items center

.section_one-white-divider-blue-box
  height calc(60% - 29px)
  width 1px
  background-color #fff

.section_one-cicle-arrow
  width 29px
  height 29px
  border-radius 50%
  background-color #fff
  total-center()
  -webkit-box-shadow 0px 0px 5px 11px rgba(0,0,0,0.08)
  -moz-box-shadow 0px 0px 5px 11px rgba(0,0,0,0.08)
  box-shadow 0px 0px 5px 11px rgba(0,0,0,0.08)
//----------------------fin section_one-----------------------------



// ========== section_projects ========== //
  
.section_projects-container
  position relative
  width 100vw
  padding-top remify(60)
  padding-bottom remify(60)
  
.section_projects-title-wrapper
  total-center()
  

.section-blue-font
  color $blueStandar

.section-title
  font-size remify(45)

.section_projects-carousel-container
  margin 75px 0

.section_projects-slick-firstrow
  margin 0 0 37px -45px
  
  .slick-track
    display flex 
    align-items flex-end

.section_projects-slick-secondrow
  margin-left -111px

.section_projects-slick-item
  background-repeat no-repeat
  background-position center
  background-size cover
  width 325px
  height 208px
  margin 0 25px
  display flex !important 
  justify-content center
  align-items center
    
  img
    width 87.7px
    height 99.8px


.item_project-bgd-1
  background-image url('../img/work@more2.jpg')

.item_project-bgd-2
  background-image url('../img/work@more2.jpg')

.item_project-bgd-3
  background-image url('../img/work@more2.jpg')
  width 456px
  height 297px

.item_project-bgd-4
  background-image url('../img/work@more2.jpg')

.item_project-bgd-5
  background-image url('../img/work@more2.jpg')

.item_project-bgd-6
  background-image url('../img/work@more2.jpg')
  width 456px
  height 297px

.item_project-bgd-7
  background-image url('../img/work@more2.jpg')

.item_project-bgd-8
  background-image url('../img/work@more2.jpg')

.item_project-bgd-9
  background-image url('../img/work@more2.jpg')
  width 456px
  height 297px

.item_project-bgd-10
  background-image url('../img/work@more2.jpg')

.item_project-bgd-11
  background-image url('../img/work@more2.jpg')
  width 406px
  height 265px

.item_project-bgd-12
  background-image url('../img/work@more2.jpg')

.item_project-bgd-13
  background-image url('../img/work@more2.jpg')

.item_project-bgd-14
  background-image url('../img/work@more2.jpg')
  width 406px
  height 265px

.item_project-bgd-15
  background-image url('../img/work@more2.jpg')

.item_project-bgd-16
  background-image url('../img/work@more2.jpg')

.item_project-bgd-17
  background-image url('../img/work@more2.jpg')
  width 406px
  height 265px

.section_projects-btn-wrapper
  total-center()

.section_projects-blue-btn
  total-center()
  background-color $blueStandar
  width 171px
  height 51px
 

  p 
    font-size remify(15)
    color #fff

//----------------------fin section_projects-----------------------------


// ========== section_services ========== //
.section_services
  background-color #efefef 
  height calc(100% - 50px)

.section_services-wrapper
  height 100%

.section_services-container
  position relative
  max-width 1030px
  height 100%
  padding-top remify(60)
  padding-bottom remify(60)
  center-block()

.section_services-title-wrapper
  @extends .section_projects-title-wrapper

.section_services-tabs
  display flex
  margin 25px 0

  .section_services-tablink
    position relative
    width 33.3333%
    padding 20px 0
    border none
    border-bottom 2px solid $blueStandar
    background-color inherit
    transition 0.3s
    outline none

    &:hover
      background-color #d6d6d6
    
    &.open-tab
      p
        color #000
        font-weight bold
        letter-spacing 1px

    &.open-tab::after
      content ''
      width 100%
      height 5px
      background-color $blueStandar
      position absolute
      bottom -7px
      left 0

    .section_services-tablink-title
      color #9d9d9d
  
.section_services-tabcontent-wrapper
  total-center()
  -webkit-animation fade 1s
  -moz-animation fade 1s
  animation fade 1s
  
  .section_services-tabcontent-img
    width 488px
    height 329px

.section_services-tabcontent
  padding 70px 45px 70px 50px;
  width 512px 
  height 412px
  background-color $blueStandar
  color #fff 

  img
    width 21%
    margin-top 15px

.section_services-tabcontent-title
  font-size remify(39)
  position relative

.section_services-tabcontent-divider
  width 6%
  height 2px
  background-color #fff
  margin-top 15px
  margin-bottom 20px

.section_services-btn
  background-color $darkBlue
  width 137px
  height 50px
  margin-top 30px
  total-center()
    
  p
    color #fff
    font-size remify(15)

-webkit-keyframes fade
    from opacity 0
    to opacity 1

@keyframes fade
    from opacity 0
    to opacity 1


  



//----------------------fin section_services-------------------------

// ========== section_ Form ========== //
.section_form
  background-color $blueStandar
  total-center()
  height 45vh

.section_form-carousel
  center-block()
  width 85vw
  
  .slick-prev
    display none !important

  .slick-right
    right 0 
    
.section_form-carousel-item
  display flex !important
  align-items center
  justify-content center
  margin 0 30px

  p
    color $lightBlue
    font-size remify(17)
  
  input
    visibility hidden
    border none
    appearance none
    box-shadow none
    background transparent

.section_form-carousel-item.slick-center
  p
    color #fff
    font-size remify(44)
  
  input
    visibility visible
    padding 10px
    font-size remify(17)
    color #FFF
    border none
    appearance none
    box-shadow none
    background transparent
    border-bottom 2px solid #fff

//----------------------fin section_form-----------------

// ========== section_Work With Us ========== //
.section_workWithUs
  background-image url('../img/backgrounds/work-wUs-bgd.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  height 80vh
  total-center()
  flex-direction column

.site-footer__menu
  margin 40px 0 60px 0

.section_workWithUs_title
  font-size remify(44)
  margin-bottom 5%
  color #fff

.section_workWithUs-btn
  @extends .section_projects-blue-btn