.section_one
  height 100vh
  background-image url('../img/backgrounds/section_1.jpg')
  background-size cover
  background-position center

.section_one-wrapper
  height 100vh

.section_one-container
  max-width 1030px
  height 100%
  center-block()
  display flex
  justify-content center
  flex-direction column

.section_one-title-wrapper
  display flex

.section_one-title-container
  max-width 522px

.section_one-title
  font-size remify(82)
  color #fff
  letter-spacing -1.7px
  line-height 1.14
  margin 0

.blue-text
  color #408ab7

.section_one-description-wrapper
  display flex
  justify-content flex-end

.section_one-description-container
  max-width 496px

.section_one-description
  font-size remify(22)
  color #fff
  line-height 1.14
  margin 0
