//////// Title ///////
.portfolio-view__background {
  background-image: url(../img/backgrounds/projects-bgd.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 27.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 82px 0 0;
    p {
      color: #3b84af;
      font-size: remify(44px);
    }
    span {
      color: #131b21;
      font-size: remify(20px);
      width: 33.75em;
      line-height: 1.35;
      text-align: center;
      margin: 41px 0 0;
    }   
}

///////// Portfolio Container ////////

.portfolio-view__container {
  display: flex;
  justify-content: space-between;
  center-block();
}

////// Col size /////
.col-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.37em;
  height: 28.31em;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-md {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.37em;
  height: 24em;
  background-size: cover;
  background-repeat: no-repeat;
}

.col-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20.37em;
  height: 21.68em;  
  background-size: cover;
  background-repeat: no-repeat;
}

////// backgrouns //////

// lg
.col-lg-bg1 {
  background-image: url(../img/portfolio/portfolio_finacero.png);
}

.col-lg-bg2 {
  background-image: url(../img/portfolio/portfolio_rgv.png);
}

.col-lg-bg3 {
  background-image: url(../img/portfolio/portfolio_nutrologa.png);
}

.col-lg-bg4 {
  background-image: url(../img/portfolio/portfolio_finacero.png);
}

.col-lg-bg5 {
  background-image: url(../img/portfolio/portfolio_finacero.png);
}

.col-lg-bg6 {
  background-image: url(../img/portfolio/portfolio_finacero.png);
}

.col-lg-bg7 {
  background-image: url(../img/portfolio/portfolio_finacero.png);
}

.col-lg-bg8 {
  background-image: url(../img/portfolio/portfolio_finacero.png);
}

.col-lg-bg9 {
  background-image: url(../img/portfolio/portfolio_finacero.png);
}

// md
.col-md-bg1 {
  background-image: url(../img/portfolio/porfolio_local-e.png)
}

// sm
.col-sm-bg1 {
  background-image: url(../img/portfolio/portfolio_neopraxis.png);
}