//////// Title ///////
.portfolio-view__background {
  background-image: url(../img/backgrounds/projects-bgd.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 27.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 82px 0 0;
    p {
      color: #3b84af;
      font-size: remify(44px);
    }
    span {
      color: #131b21;
      font-size: remify(20px);
      width: 33.75em;
      line-height: 1.35;
      text-align: center;
      margin: 41px 0 0;
    }   
}

///////// Portfolio Container ////////

.portfolio-view__container {
  display: flex;
  justify-content: space-between;
  center-block();
}

////// Card size /////
.card-lg {
  width: 20.37em;
  height: 28.31em;
}

.card-md {  
  width: 20.37em;
  height: 24em;
}

.card-sm {
  width: 20.37em;
  height: 21.68em;  
}

////// backgrouns //////

// lg
.card-lg-bg1 {
  background-image: url(../img/portfolio/portfolio_finacero.png)
  total-center(); 
}

.card-lg-bg2 {
  background-image: url(../img/portfolio/portfolio_rgv.png)
  total-center(); 
}

.card-lg-bg3 {
  background-image: url(../img/portfolio/portfolio_nutrologa.png)
  total-center(); 
}

.card-lg-bg4 {
  background-image: url(../img/portfolio/porfolio_98-coast.png)
  total-center(); 
}

.card-lg-bg5 {
  background-image: url(../img/portfolio/porfolio_debisa.png)
  total-center(); 
}

.card-lg-bg6 {
  background-image: url(../img/portfolio/porfolio_dondinero.png)
  total-center(); 
}

.card-lg-bg7 {
  background-image: url(../img/portfolio/porfolio_dreamwater.png)
  total-center(); 
}

.card-lg-bg8 {
  background-image: url(../img/portfolio/porfolio_emma.png)
  total-center(); 
}

.card-lg-bg9 {
  background-image: url()
  total-center(); 
}

// md
.card-md-bg1 {
  background-image: url(../img/portfolio/porfolio_local-e.png);
  total-center(); 
}

.card-md-bg2 {
  background-image: url(../img/portfolio/portfolio_workingch.png);
  total-center(); 
}

.card-md-bg3 {
  background-image: url(../img/portfolio/portfolio_aguaviento.png);
  total-center(); 
}

// sm
.card-sm-bg1 {
  background-image: url(../img/portfolio/portfolio_neopraxis.png)
  total-center(); 
}

.card-sm-bg2 {
  background-image: url(../img/portfolio/porfolio_brick.png)
  total-center(); 
}

.card-sm-bg3 {
  background-image: url(../img/portfolio/porfolio_jb.png)
  total-center(); 
}

.card-sm-bg4 {
  background-image: url(../img/portfolio/portoflio_aerial.png)
  total-center(); 
}

.card-sm-bg5 {
  background-image: url(../img/portfolio/portfolio_begona.png)
  total-center(); 
}

.card-sm-bg6 {
  background-image: url(../img/portfolio/porfolio_florella.png)
  total-center(); 
}

.card-sm-bg7 {
  background-image: url(../img/portfolio/portfolio_gemo.png)
  total-center(); 
}

.card-sm-bg8 {
  background-image: url(../img/portfolio/porfolio_Indots.png)
  total-center(); 
}

.card-sm-bg9 {
  background-image: url(../img/portfolio/portfolio_mccosmetics.png)
  total-center(); 
}