.turnOff-on-mobile
  display block
.turnOn-on-mobile
  display none
.portfolio-view
  padding 155px 0
  background-image url(../img/backgrounds/projects-bgd.png)
  background-size 100% 10%
  background-position-y 70px  
  background-repeat no-repeat
.portfolio-logo-transform 
  transition all 0.2s ease-in

.portfolio-logo-transformhover 
  transition all 0.2s ease-in
  transform scale(1.2)

.portfolio-view__background 
  width 100%
  total-center()
  flex-direction column

.portfolio-view__background-title 
  total-center()
  flex-direction column
  p 
    color #3b84af
    font-size remify(44px)
  span 
    color #131b21
    font-size remify(20px)
    width 33.75em
    line-height 1.35
    text-align center
    margin 41px 0 88px

.portfolio-view__container 
  display flex
  justify-content center
  flex-wrap wrap
  max-width 1030px
  margin 15px auto 

  img
    transition all .2s ease-in
  
  img:hover
    transition all .2s ease-in
    transform scale(1.2)

.col-1, .col-2, .col-3
  width 33.33%
  padding 0 6px

.card-lg,.card-md, .card-sm
  width 100%
  margin-bottom 12px
  total-center()
  background-repeat no-repeat
  background-position top center
  background-size cover

.card-lg 
  height 28.31em

.card-md   
  height 24.5em

.card-sm 
  height 21.68em 

.card-lg-bg1 
  background-image url(../img/portfolio/portfolio_higia.png)
  img 
    width 9.66em

.card-lg-bg2 
  background-image url(../img/portfolio/portfolio_rgv.png)
  img[src="img/logos/rgv.png"]
    width 6.18em
  img[src="img/logos/dreamwater.png"]
    width 9.12em

.card-lg-bg3 
  background-image url(../img/portfolio/portfolio_nutrologa.png)
  img 
    width 7.31em

.card-lg-bg4 
  background-image url(../img/portfolio/portfolio_98-coast.png)
  img 
    width 9.66em 

.card-lg-bg5 
  background-image url(../img/portfolio/portfolio_debisa.jpg)
  img 
    width 7em

.card-lg-bg6 
  background-image url(../img/portfolio/portfolio_dondinero.png)
  img 
    width 9.66em

.card-lg-bg7 
  background-image url(../img/portfolio/portfolio_local-e.png)
  img 
    width 7em

.card-lg-bg8 
  background-image url(../img/portfolio/portfolio_emma.png)
  img 
    width 9.66em
.card-lg-bg9
  background-image url(../img/portfolio/portfolio_finacero.png)
  img 
    width 9.66em

// md
.card-md-bg1 
  background-image url(../img/portfolio/portfolio_rer.png)
  img 
    width 6.68em

.card-md-bg2 
  background-image url(../img/portfolio/portfolio_workingch.png)
  img 
    width 7.43em

.card-md-bg3 
  background-image url(../img/portfolio/portfolio_aguaviento.png)
  img 
    width 9.66em

.card-md-bg4 
  background-image url(../img/portfolio/portfolio_opia.png)
  img 
    width 6.68em

.card-md-bg5 
  background-image url(../img/portfolio/portfolio_rancho.png)
  img 
    width 8em 

.card-md-bg6 
  background-image url(../img/portfolio/portfolio_vre.png)
  img 
    width 9.66em

.card-md-bg7 
  background-image url(../img/portfolio/portfolio_iidea.png)
  img 
    width 9.66em

.card-md-bg8 
  background-image url(../img/portfolio/portfolio_pacer.png)
  img 
    width 8em

.card-md-bg9 
  background-image url(../img/portfolio/portfolio_rocha.png)
  img 
    width 4em

.card-md-bg10
  background-image url(../img/portfolio/portfolio_finacero.png)
  img 
    width 7em

// sm
.card-sm-bg1 
  background-image url(../img/portfolio/portfolio_dreamwater.png)
  a[class="turnOff-on-mobile"]
    img 
      width 9.12em
  a[class="turnOn-on-mobile"]
    img
      width 6.18em

.card-sm-bg2 
  background-image url(../img/portfolio/portfolio_brick.png)
  img 
    width 5.87em

.card-sm-bg3 
  background-image url(../img/portfolio/portfolio_jb.jpg)
  img 
    width 5.5em

.card-sm-bg4 
  background-image url(../img/portfolio/portfolio_neopraxis.png)
  img 
    width 9.12em

.card-sm-bg5 
  background-image url(../img/portfolio/portfolio_begona.png)
  img 
    width 9.66em

.card-sm-bg6 
  background-image url(../img/portfolio/portfolio_florella.png)
  img 
    width 8em

.card-sm-bg7 
  background-image url(../img/portfolio/portfolio_gemo.jpg)
  img 
    width 9.66em

.card-sm-bg8 
  background-image url(../img/portfolio/portfolio_Indots.jpg)
  img 
    width 9.77em

.card-sm-bg9 
  background-image url(../img/portfolio/portfolio_mccosmetics.png)
  img 
    width 7em

.card-sm-bg10 
  background-image url(../img/portfolio/portfolio_florella.jpg)
  img 
    width 9.77em

.portfolio-view__more-log 
  display none

//////////////// Mobile medium devices ////////////////////
@media screen and (min-width 40.063em) and (max-width 64em)   
  .card-lg 
    height 16.5em

  .card-md   
    height 16.5em

  .card-sm 
    height 14.68em  
  
  .portfolio-view__background 
    margin 50px 0 0

  .portfolio-view__background-title 
    span 
      margin 41px 0 55px

  .portfolio-view__container 
    display flex
    justify-content center
    margin 0 auto 30px auto

//////////////// Mobile small devices ////////////////////
@media screen and (max-width 40em)
  .turnOff-on-mobile
    display none
  .turnOn-on-mobile
    display block
  .col-1, .col-2, .col-3
    display flex
    flex-wrap wrap
    width 100%
    padding 0
   
  .card-lg, .card-md, .card-sm
    width calc(50% - 7px)
    height 18.31em
  
  .card-lg-bg2
    background-image url(../img/portfolio/portfolio_dreamwater.png)
  .card-sm-bg1 
    background-image url(../img/portfolio/portfolio_rgv.png)
  .card-md-bg1 
    background-image url(../img/portfolio/portfolio_nutrologa.png)
  .card-lg-bg3
    background-image url(../img/portfolio/portfolio_rer.png)

  .card-sm-bg10,
  .card-sm-bg8,
  .card-sm-bg6,
  .card-sm-bg4,
  .card-sm-bg2,
  .card-md-bg10,
  .card-md-bg8,
  .card-md-bg6,
  .card-md-bg4,
  .card-md-bg2,
  .card-lg-bg8,
  .card-lg-bg6,
  .card-lg-bg4,
  .card-lg-bg2
    margin 7px 0 7px 7px

  .card-sm-bg9,
  .card-sm-bg7,
  .card-sm-bg5,
  .card-sm-bg3,
  .card-sm-bg1,
  .card-md-bg9,
  .card-md-bg7,
  .card-md-bg5,
  .card-md-bg3,
  .card-md-bg1,
  .card-lg-bg7,
  .card-lg-bg5,
  .card-lg-bg3,
  .card-lg-bg1
    margin 7px 7px 7px 0
  .portfolio-view
    padding 100px 0 80px 0
    background-size 100% 3%

  .portfolio-view__background 
    background-size contain
    height 15.5em
  
  .portfolio-view__background-title 
    align-items flex-start
    justify-content flex-start
    width 100%
    margin 0
    padding 0 0 0 2.06em 
    span 
      width 16.43em
      text-align left
      margin 32px 0 0

  .portfolio-view__container 
    margin 50px 0 30px

  .portfolio-view__more-log 
    display block
    margin-top 68px
    a
      width 100%
      height 100%
      display flex
      justify-content center
      img
        width 12%
        animation tada_more_logo linear 1s 2 forwards
        transform-origin 20% 100%