// margin-top change and color for error message
// when sending contact information, just for this view.
.quotation-view label.error
  color #ff3636
  padding-top 1.7em
// EOC
.quotation-view
  @extends .careers-view
  position relative
  &:after
    content ''
    width 992px
    height 631px
    background-color #2f76a1
    position absolute
    bottom 0
    right 0
    z-index -1

.quotation_view-wrapper
  max-width 1030px
  center-block()

.quotation-view__main-title,
.quotation-view__second-title
  @extends .careers-view__title

.quotation_view__description
  text-align center
  font-size remify(20)
  line-height 27px
  margin 50px 0

.quotation_view-comision-text
  font-size remify(17)
  line-height 33px
  text-align center
  margin-top 35px

.quotation_view-container
  margin-top 70px

.quotation-view-form-wrapper
  width 100%
  display flex
  flex-flow row wrap
  align-items flex-start
  justify-content center
  background-color #fff
  box-shadow 0 2px 7px 0 rgba(0, 0, 0, 0.25)
  padding 60px 80px
  center-block()
  position relative

.quotation-view__form-group
  width 100%
  margin-bottom 60px
  display flex
  flex-direction column-reverse
  position relative
  
  label
    font-size remify(17)
    line-height 13px
    padding-left 10px
    transition .2s all ease
    position absolute
    top -10px
  label.error
    right 0
    top -57px

  input, textarea
    font-size 14px
    width 100%
    border none
    border-radius 0px
    background transparent
    outline none
    padding 10px 10px 5px 10px
    color #bfbfbf   

    &:focus
      color #bfbfbf
      border-radius 0px

    &:focus + label
      font-size remify(15)
      color #2f76a1
      top -20px 
    &:focus + label.error
      right 0
      top -57px 
      color red

  input
    border-bottom 1px solid #e5e5e5
    border-radius 0px

  textarea
    border 1px solid #e5e5e5
    margin 40px 0
    border-radius 0px

.quotation-view_form-col1
  padding-right 35px

.quotation-view_form-col2
  padding-left 35px

.quotation-view_form-col1, 
.quotation-view_form-col2
  width 50%
  display flex
  flex-direction column
  align-items flex-start
  justify-content center

.quotation-view_form-col3
  width 100%

.quotation-view__form-send__button
  display flex
  justify-content space-around
  align-items center
  border none
  background-color #223a48
  padding 0 12px
  width 96px
  height 42px
  cursor pointer
  position absolute
  right 80px
  bottom 60px
  img
    width 1rem
  p
    color #ffffff
    font-size remify(13px)
    margin-top 3px

@media screen and (min-width 40.063em) and (max-width 64em)
  .quotation-view__form-group 
    label
      top -20px
      line-height 16px
    input, textarea
      &:focus + label
        top -30px     

@media screen and (max-width: 40em)
  .quotation-view 
    padding 65px 0 100px 0
    background-image url('../img/backgrounds/services-bgd1.jpg')
    background-position 100% 0
    background-size 150% 30%
    background-repeat no-repeat

    &:after
      width 65%
      height 30%
      
  .quotation_view-wrapper
    .quotation-view__main-title,
    .quotation_view__description,
    .quotation_view-comision-text
      padding 0 35px 
      text-align left
      margin 35px 0
    hr
      width calc(100% - 70px)

  .quotation_view-container
    form
      margin 0
      margin-left 0
      width 100%
  .quotation-view-form-wrapper
    flex-flow column nowrap
    padding 60px 25px
    .quotation-view_form-col1, 
    .quotation-view_form-col2
      width 100%
      padding 0
  
  .quotation-view__form-group 
    
    label
      padding-left 0
      font-size remify(15)
    label.error
      top -50px

  .quotation-view__form-send__button
    right 25px
