.quotation-view
  @extends .careers-view

.quotation_view-wrapper
  max-width 1030px
  center-block()

.quotation-view__title 
  @extends .careers-view__title

.quotation_view__description
  text-align center
  font-size remify(20)
  line-height 27px
  margin 50px 0

.quotation_view-comision-text
  font-size remify(17)
  line-height 33px
  text-align center

// .quotation_view-container
//   position relative
//   &:after
//     content ''
//     width 992px
//     height 631px
//     background-color #2f76a1
//     position absolute
//     bottom 0
//     right 0
//     z-index 0