
* 
  box-sizing border-box

.view_team
  padding 155px 0 70px 0
  width 100vw

.view_team-container
  width 100vw
  
.view_team-title-container
  center-block()
  margin-bottom 35px

.view_team-title
  font-size remify(44)
  color $blueStandar
  text-align center

.view_team-description-container
  center-block()
  margin-bottom 70px

.view_team-description
  font-size remify(20)
  text-align center

.view_team-items-container
  display flex
  flex-wrap wrap
  width 100%
  
  .view_team-member-item
    width 20%
  .view_team-member-item.join-us-wrapper
    width 40%
    .view_team-member-photo
      background-size contain
      background-repeat repeat

 .view_team-member-photo
    display flex
    justify-content center
    align-items flex-end
    background-image url('../img/team/bgd_team.jpg')
    background-repeat repeat
    background-size contain
    height 13.875rem
    img
      height 90%
    img[src="img/team/lili.png"]
      height 82%
    img[src="img/team/mariana.png"]
      height 86%
    img[src="img/team/alex.png"]
      height 92%
    

.view_team-member-description
  padding 20px 40px 40px 40px

.view_team-member-name
  font-size remify(16)
  line-height 3.13
  text-align center
  letter-spacing 0.3px
  color #172a37

.view_team-member-position
  font-size remify(11)
  letter-spacing 2.6px
  text-align center
  color #141414

.view_team-member-divider
  width 18px
  height 1px
  background-color #e6e6e6
  margin 15px auto

.view_team-member-phrase
  font-size remify(11)
  line-height 1.63
  letter-spacing 0.2px
  text-align center
  color #172a37

@media screen and (min-width 641px) and (max-width 992px) 
  .view_team-member-item
    width 33.33% !important
  .view_team-member-item.join-us-wrapper
    width 66.66% !important
@media screen and (min-width 481px) and (max-width 640px) 
  .view_team-member-item
    width 50% !important
  .view_team-member-item.join-us-wrapper
    width 50% !important
@media screen and (max-width: 480px)
  .view_team
    padding 100px 0 80px 0
  
  .view_team-title-container,
  .view_team-description-container
    padding 0 20px 0 30px 
  .view_team-title
    font-size remify(38)
  .view_team-title, 
  .view_team-description
    text-align left

  .view_team-member-item
    width 100% !important
  .view_team-member-item.join-us-wrapper
    width 100% !important
    .view_team-member-photo
      background-size 50% 100%

  .view_team-member-photo
      height 15.5rem
  
  .view_team-member-name
    font-size remify(23)
  .view_team-member-position
    font-size remify(17)
  .view_team-member-phrase
    font-size remify(13)




