
* 
  box-sizing border-box

.view_team
  padding 155px 0
  width 100vw

.view_team-container
  width 100vw

.view_team-title-container
  center-block()
  margin-bottom 35px

.view_team-title
  font-size remify(44)
  color $blueStandar
  text-align center

.view_team-description-container
  center-block()

.view_team-description
  font-size remify(20)
  text-align center

.view_team-items-wrapper
  margin-top 100px
  display grid
  grid-template-columns repeat(auto-fit,minmax(230px, 1fr))
  grid-auto-rows minmax(465px, auto)

.view_team-member-item.join-us-wrapper
  grid-column-end span 2
  img
    width 40%

.view_team-member-photo
  display flex
  justify-content center
  align-items flex-end
  background-color #edebed
  height 60%
  img
    width 85%

.view_team-member-description
  padding 0 40px

.view_team-member-name
  font-size remify(15)
  line-height 3.13
  text-align center
  letter-spacing 0.3px
  color #172a37

.view_team-member-position
  font-size remify(10)
  line-height 4.2
  letter-spacing 2.6px
  text-align center
  color #141414

.view_team-member-phrase
  font-size remify(8)
  line-height 1.63
  letter-spacing 0.2px
  text-align center
  color #172a37

@media screen and (max-width: 768px)
  .view_team
    padding 155px 0 0 0 
  
  .view_team-title-container,
  .view_team-description-container
    padding 0 20px 0 30px 
  .view_team-title
    font-size remify(33)
  .view_team-title, 
  .view_team-description
    text-align left

  .view_team-items-wrapper
    grid-template-columns repeat(auto-fit,minmax(160px, 1fr))
    grid-auto-rows minmax(385px, auto)

  .view_team-member-item.join-us-wrapper
    grid-column-end span 1
  
  .view_team-member-photo
    height 50%

  .join-us-wrapper
    .view_team-member-photo
      img
        width 85%
  
  .view_team-member-description
    padding 0 15px



