{% extends "partials/base.njk" %}

{% block meta %}
<meta property="og:title" content="Aplicar | More Co.">
<meta property="og:description" content="Personas que siempre estén seguros de que pueden lograr más">
<meta name="description" content="Personas que siempre estén seguros de que pueden lograr más">
{% endblock %}

{% block title %}
Aplicar
{% endblock %}

{% block content %}

<section class="careers-view">
  <div class="careers_view-wrapper">
    <h1 class="careers-view__title font-metropolis-bold">¿Por qué trabajar en More?</h1>
    <div class="careers-view__carousel-wrapper">
      <div class="careers-view__carousel-item itemA">
        <div class="careers-view__carousel-bullet-point">
          <div class="careers-view__carousel-hyphen"></div>
          <p class="careers-view__carousel-letter font-athelas-bold">A</p>
        </div>
        <h2 class="careers-view__carousel-item-heading font-metropolis-bold">Solo los mejores</h2>
        <p class="careers-view__carousel-item-description font-athelas-bold">Personas que sin importar lo que sepan siempre estén seguros de que pueden lograr más</p>
      </div>
      <div class="careers-view__carousel-item itemB">
        <div class="careers-view__carousel-bullet-point">
          <div class="careers-view__carousel-hyphen"></div>
          <p class="careers-view__carousel-letter font-athelas-bold">B</p>
        </div>
        <h2 class="careers-view__carousel-item-heading font-metropolis-bold">Somos una familia</h2>
        <p class="careers-view__carousel-item-description font-athelas-bold">Nos cuidamos los unos a los otros: si tu creces, nosotros crecemos</p>
      </div>
      <div class="careers-view__carousel-item itemC">
        <div class="careers-view__carousel-bullet-point">
          <div class="careers-view__carousel-hyphen"></div>
          <p class="careers-view__carousel-letter font-athelas-bold">C</p>
        </div>
        <h2 class="careers-view__carousel-item-heading font-metropolis-bold">¡Disfruta los lunes!</h2>
        <p class="careers-view__carousel-item-description font-athelas-bold">Empieza la semana con el mejor equipo</p>
      </div>
      <div class="careers-view__carousel-item itemD">
        <div class="careers-view__carousel-bullet-point">
          <div class="careers-view__carousel-hyphen"></div>
          <p class="careers-view__carousel-letter font-athelas-bold">D</p>
        </div>
        <h2 class="careers-view__carousel-item-heading font-metropolis-bold">Sigue creciendo con nosotros</h2>
        <p class="careers-view__carousel-item-description font-athelas-bold">Nunca dejar de aprender cosas nuevas</p>
      </div>
      <div class="careers-view__carousel-item itemE">
        <div class="careers-view__carousel-bullet-point">
          <div class="careers-view__carousel-hyphen"></div>
          <p class="careers-view__carousel-letter font-athelas-bold">E</p>
        </div>
        <h2 class="careers-view__carousel-item-heading font-metropolis-bold">No hay jefes, solo líderes</h2>
        <p class="careers-view__carousel-item-description font-athelas-bold">Todos necesitamos una guía para seguir mejorando</p>
      </div>
     </div>{# Fin de carrusel #}
    <div id="applyNow" class="career-view_apply-now-section">
      <p class="careers-view_apply-now-title font-metropolis-bold">Aplica</p>
      <div class="careers-view__main-form">
        <div class="careers-view__main-form__col1">
          <form name="form-careers-1" method="post">
            <div class="careers-view__main-form-group">
              <input class="font-metropolis-medium" type="text" name="nameCareers" id="nameCareers" required autocomplete="off">
              <label for="nameCareers" class="font-metropolis-medium">Nombre completo</label>
            </div>
            <div class="careers-view__main-form-group">
              <input class="font-metropolis-medium" type="email" name="emailCareers" id="emailCareers" required autocomplete="off">
              <label for="emailCareers" class="font-metropolis-medium">Correo electrónico</label>
            </div>
            <div class="careers-view__main-form-group">
              <input class="font-metropolis-medium" type="tel" name="phoneCareers" id="phoneCareers" required autocomplete="off">
              <label for="phoneCareers" class="font-metropolis-medium">Teléfono</label>
            </div>
            <div class="careers-view__main-form-group">
              <select name="openingCareers" id="openingCareers" class="font-metropolis-medium" required>
                <option class="font-metropolis-medium select-option" value="Selec an openning">Selecciona una vacante</option>
                <option class="font-metropolis-medium select-option" value="UI Designer">Diseñador Web</option>
                <option class="font-metropolis-medium select-option" value="UX Designer">Diseñador UX (Experiencia de usuario)</option>
                <option class="font-metropolis-medium select-option" value="Tech Lead">Líder de Desarrollo</option>
                <option class="font-metropolis-medium select-option" value="Front-End Developer">Programador Front-end</option>
                <option class="font-metropolis-medium select-option" value="Back-End Developer">Programador Back-end</option>
                <option class="font-metropolis-medium select-option" value="Growth Hacker">Growth Hacker</option>
                <option class="font-metropolis-medium select-option" value="Project Manager">Gerente de proyecto</option>
                <option class="font-metropolis-medium select-option" value="Sales">Ventas</option>
                <option class="font-metropolis-medium select-option" value="Graphic Designer">Diseñador gráfico</option>
                <option class="font-metropolis-medium select-option" value="Finance and Administration">Administración y finanzas</option>
                <option class="font-metropolis-medium select-option" value="Human resources">Recursos humanos</option>
              </select>
            </div>
            <button type="submit" class="careers-view__main-form-send__button">
              <img src="img/icons/np-right-arrow.png">
              <p class="font-metropolis-medium">Enviar</p>
            </button>
          </form>
        </div>
        <div class="cv-form__box2">
          <img src="img/work@more2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="careers-view__optional-form">
      <p class="careers-view__optional-form-title font-metropolis-bold">Entre más, mejor <span class="font-athelas-bold">(Opcionales)</span></p>
      <form name="form-careers-2" method="post">
        <div class="careers-view__optional-form-group">
          <input class="font-metropolis-medium" type="text" name="LiCareers" id="LiCareers" required autocomplete="off">
          <label for="LiCareers" class="font-metropolis-medium">Perfil de Linkedin</label>
        </div>
        <div class="careers-view__optional-form-group">
          <input class="font-metropolis-medium" type="text" name="portfolioCareers" id="portfolioCareers" required autocomplete="off">
          <label for="portfolioCareers" class="font-metropolis-medium">Portafolio de Behance</label>
        </div>
        <div class="careers-view__optional-form-group">
          <input class="font-metropolis-medium" type="text" name="githubCareers" id="githubCareers" required autocomplete="off">
          <label for="githubCareers" class="font-metropolis-medium">Nombre de usuario de GitHub</label>
        </div>
        <div class="careers-view__optional-form-group">
          <input class="font-metropolis-medium" type="text" name="urlCareers" id="urlCareers" required autocomplete="off">
          <label for="urlCareers" class="font-metropolis-medium">URL de portafolio</label>
        </div>
        <div class="careers-view__optional-form-group">
          <textarea class="font-metropolis-medium" cols="24" rows="2" type="text" name="whyMoreCareers" id="whyMoreCareers" required></textarea>
          <label for="whyMoreCareers" class="font-metropolis-medium">¿Por qué te gustaría trabajar con nosotros?</label>
        </div>
        <button type="submit" class="careers-view__optional-form-send__button">
          <img src="img/icons/np-right-arrow.png">
          <p class="font-metropolis-medium">Enviar</p>
        </button>
      </form>
    </div>
  </div>{# Fin de section wrapper #}
</section>
{% endblock %}