{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
	<div class="section_one">
		<div class="section_one-wrapper">
			<div class="section_one-container">
				<div class="section_one-title-wrapper">
					<div class="section_one-title-container">
						<h1 class="section_one-title font-metropolis-semibold">(More) tech, more design<span class="blue-text">.</span></h1>
					</div>
				</div>
				<div class="section_one-description-wrapper">
					<div class="section_one-description-container">
						<p class="section_one-description font-athelas-regular">We are a Design and Software Development Company and we create the best solutions. From Webpages and Online Stores to big Tailor-made platforms.<br> We’d love to hear from you.</p>
					</div>
				</div>
				<div class="section_one-blue-divider"></div>
				<div class="section_one-blue-box" data-aos="fade-up" data-aos-duration="250">
					<div class="section_one-white-divider-blue-box" data-aos="fade-up" data-aos-delay="150"></div>
					<div class="section_one-cicle-arrow" data-aos="fade-up" data-aos-offset="85">
						<img src="img/icons/np-down-arrow1.png" alt="ARROW">
					</div>
				</div>
			</div>
		</div>
	</div>
	<h3>Athelas regular y bold</h3>
	<h2 class="font-athelas-regular">Hello World!</h2>
	<h2 class="font-athelas-bold">Hello World!</h2>
	<h3>Metropolis thin, extralight, light, regular, medium, semibold, bold, extrabold, black</h3>
	<h2 class="font-metropolis-thin">Hello World!</h2>
	<h2 class="font-metropolis-extralight">Hello World!</h2>
	<h2 class="font-metropolis-light">Hello World!</h2>
	<h2 class="font-metropolis-regular">Hello World!</h2>
	<h2 class="font-metropolis-medium">Hello World!</h2>
	<h2 class="font-metropolis-semibold">Hello World!</h2>
	<h2 class="font-metropolis-bold">Hello World!</h2>
	<h2 class="font-metropolis-extrabold">Hello World!</h2>
	<h2 class="font-metropolis-black">Hello World!</h2>
{% endblock %}