{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
	<h3>Athelas regular y bold</h3>
	<h2 class="font-athelas-regular">Hello World!</h2>
	<h2 class="font-athelas-bold">Hello World!</h2>
	<h3>Metropolis thin, extralight, light, regular, medium, semibold, bold, extrabold, black</h3>
	<h2 class="font-metropolis-thin">Hello World!</h2>
	<h2 class="font-metropolis-extralight">Hello World!</h2>
	<h2 class="font-metropolis-light">Hello World!</h2>
	<h2 class="font-metropolis-regular">Hello World!</h2>
	<h2 class="font-metropolis-medium">Hello World!</h2>
	<h2 class="font-metropolis-semibold">Hello World!</h2>
	<h2 class="font-metropolis-bold">Hello World!</h2>
	<h2 class="font-metropolis-extrabold">Hello World!</h2>
	<h2 class="font-metropolis-black">Hello World!</h2>
{% endblock %}