{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block content %}
	<div class="section_one">
		<div class="section_one-wrapper">
			<div class="section_one-container">
				<div class="section_one-title-wrapper">
					<div class="section_one-title-container">
						<h1 class="section_one-title font-metropolis-semibold">(More) tech, more design<span class="blue-text">.</span></h1>
					</div>
				</div>
				<div class="section_one-description-wrapper">
					<div class="section_one-description-container">
						<p class="section_one-description font-athelas-regular">We are a Design and Software Development Company and we create the best solutions. From Webpages and Online Stores to big Tailor-made platforms.<br> We’d love to hear from you.</p>
					</div>
				</div>
				<div class="section_one-blue-divider"></div>
				<div class="section_one-blue-box" data-aos="fade-up" data-aos-duration="250">
					<div class="section_one-white-divider-blue-box" data-aos="fade-up" data-aos-delay="150"></div>
					<div class="section_one-cicle-arrow" data-aos="fade-up" data-aos-offset="85">
						<img src="img/icons/np-down-arrow1.png" alt="ARROW">
					</div>
				</div>
			</div>
		</div>
	</div> {# / section_one #}
	<div class="section_projects">
		<div class="section_projects-wrapper">
			<div class="section_projects-container">
				<div class="section_projects-title-wrapper">
					<div class="section_projects-title-container">
						<h1 class="section-title font-athelas-bold"><span class="section-blue-font">(More)</span> projects</h1>
					</div>
				</div>
				<div class="section_projects-carousel-wrapper">
					<div class="section_projects-carousel-container">
						<div class="section_projects-slick-firstrow">
							<div class="section_projects-slick-item item_project-bgd-1">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>1</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-2">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>2</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-3">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>3</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-4">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>4</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-5">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>5</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-6">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>6</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-7">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>7</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-8">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>8</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-9">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>9</h3>
							</div>
						</div>
						<div class="section_projects-slick-secondrow">
							<div class="section_projects-slick-item item_project-bgd-10">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>10</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-11">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>11</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-12">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>12</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-13">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>13</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-14">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>14</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-15">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>15</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-16">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>16</h3>
							</div>
							<div class="section_projects-slick-item item_project-bgd-17">
								<a href=""><img src="img/logos/jb.png" alt=""></a>
								<h3>17</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="section_projects-btn-wrapper">
					<div class="section_projects-btn-container">
						<a href="">
							<div class="section_projects-blue-btn">
								<p class="font-metropolis-medium">View all</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>{# / section_projects #}
	
{% endblock %}