{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Portfolio
{% endblock %}

{% block content %}
<section class="portfolio-view">
  {# Title #}
  <div class="portfolio-view__background">
    <div class="portfolio-view__background-title">
      <p class="font-metropolis-bold">Portafolio</p>
      <span class="font-athelas-regular">Hay miles de maneras de presentar tu empresa, pero solo una en donde el diseño y la tecnología se encuentran. Ahí es donde comenzamos a trabajar juntos.</span>  
    </div>
  </div>
  {# Portfolio Container #}
  <div class="portfolio-view__container">
    {# Large cards #}
    <div class="col-1">
      <div class="card-lg card-lg-bg1" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://higia.tech/"><img src="img/logos/higia.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg2" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://rgvsoluciones.com/"><img src="img/logos/rgv.png" class="portfolio-logo-transform"></a>
        <a class="turnOn-on-mobile" target="_blank" href="https://drinkdreamwater.com/"><img src="img/logos/dreamwater.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://alegpaez.com/"><img src="img/logos/alegpaez.png" class="portfolio-logo-transform"></a>
        <a class="turnOn-on-mobile" target="_blank" href="http://rerenergygroup.com.mx/"><img src="img/logos/rer.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="https://www.98coastav.com/"><img src="img/logos/98-coast.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg5" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://debisasystems.com/"><img src="img/logos/debisasystems.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://workingch.com/"><img src="img/logos/workingch.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg7" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="https://local-e.mx/"><img src="img/logos/local-e.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg8" data-aos="fade-up" data-aos-delay="100"  data-aos-duration="400">
        <a target="_blank" href="http://miemma.com/"><img src="img/logos/emma.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-lg card-lg-bg9 hide-on-mobile" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://rancholucero.com/"><img src="img/logos/rancholucero.png" class="portfolio-logo-transform"></a>
      </div>
    </div>
    {# Small cards #}
    <div class="col-2">
      <div class="card-sm card-sm-bg1" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="https://drinkdreamwater.com/"><img src="img/logos/dreamwater.png" class="portfolio-logo-transform"></a>
        <a class="turnOn-on-mobile" target="_blank" href="http://rgvsoluciones.com/"><img src="img/logos/rgv.png" class="portfolio-logo-transform"></a>
      </div>
      {# switching divs for mobile and desktop view behavior #}
      <div class="card-sm card-sm-bg2 hide-on-mobile"> {#data-aos="fade-up" data-aos-delay="100" data-aos-duration="400" #}
        <a target="_blank" href="https://vre.com.mx/"><img src="img/logos/vre.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg2 show-on-mobile" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400"> {# #}
        <a target="_blank" href="http://bricksa.mx/"><img src="img/logos/brick.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400"> {# #}
        <a target="_blank" href="https://jbaccesorios.com/"><img src="img/logos/jb.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://neopraxis.mx/"><img src="img/logos/neopraxis.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg5" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://begonafernandez.com.mx/"><img src="img/logos/begona.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg6" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://casabeltrami.com/"><img src="img/logos/casabeltrami.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg7" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="http://rlabogados.mx/"><img src="img/logos/rochalandero.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg8" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="https://www.indots.com/"><img src="img/logos/indots.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg9" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="https://www.mccosmetics.mx/"><img src="img/logos/mccosmetics.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-sm card-sm-bg10" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
        <a target="_blank" href="https://florella.mx/"><img src="img/logos/florella.png" class="portfolio-logo-transform"></a>
      </div>      
    </div>
    {# Medium cards #}
    <div class="col-3"> 
      <div class="card-md card-md-bg1" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a class="turnOff-on-mobile" target="_blank" href="http://rerenergygroup.com.mx/"><img src="img/logos/rer.png" class="portfolio-logo-transform"></a>
        <a class="turnOn-on-mobile" target="_blank" href="http://alegpaez.com/"><img src="img/logos/alegpaez.png" class="portfolio-logo-transform"></a>
      </div>
      {# switching divs for mobile and desktop view behavior #}
      <div class="card-md card-md-bg2 hide-on-mobile">{#data-aos="fade-up" data-aos-delay="300" data-aos-duration="400" #}
        <a target="_blank" href="https://dondinero.mx/"><img src="img/logos/dondinero.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg2 show-on-mobile" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">{# #}
        <a target="_blank" href="https://dondinero.mx/"><img src="img/logos/dondinero.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg3" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="http://bricksa.mx/"><img src="img/logos/brick.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="https://www.opiajewelry.com/"><img src="img/logos/opia.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg5" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="http://finacero.mx/"><img src="img/logos/finacero.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="http://aguaviento.com/"><img src="img/logos/aguaviento.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg7" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="http://iidea.org.mx/"><img src="img/logos/iidea.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg8" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="https://pacer.mx/"><img src="img/logos/pacer.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg9" data-aos="fade-up" data-aos-delay="300"  data-aos-duration="400">
        <a target="_blank" href="https://gemo-mexico.myshopify.com/"><img src="img/logos/gemo.png" class="portfolio-logo-transform"></a>
      </div>
      <div class="card-md card-md-bg10 show-on-mobile" data-aos="fade-up" data-aos-delay="300" data-aos-duration="400">
        <a target="_blank" href="http://rancholucero.com/"><img src="img/logos/rancholucero.png" class="portfolio-logo-transform"></a>
      </div>
    </div>
  </div>
  {# More Logo #}
  <div class="portfolio-view__more-log">
    <a href="index.html"><img src="img/logos/more-black-mobile.svg" alt="More logo"></a>
  </div>
</section>
{% endblock %}