{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Portfolio
{% endblock %}

{% block content %}
<section class="portfolio-view">
  {# Title #}
  <div class="portfolio-view__background">
      <p class="font-metropolis-bold">Portfolio</p>
      <span class="font-athelas-regular">There are a thousand ways to present your company, but only one where technology meets design, and that is where we begin to work together.</span>  
  </div>
  {# Portfolio Container #}
  <div class="portfolio-view__container">

    <div class="col-1">
      <div class="col-lg col-lg-bg1">
        <img src="img/logos/finacero.png" width="154.7" height="16.5">
      </div>
      <div class="col-lg col-lg-bg2">
        <img src="img/logos/rgv.png" width="98.7" height="48.1">
      </div>
      <div class="col-lg col-lg-bg3">
        <img src="img/logos/alegpaez.png" width="116.5" height="74.4">
      </div>
      <div class="col-lg col-lg-bg4">
        <img src="" width="" height="">
      </div>
      <div class="col-lg col-lg-bg5">
        <img src="" width="" height="">
      </div>
      <div class="col-lg col-lg-bg6">
        <img src="" width="" height="">
      </div>
      <div class="col-lg col-lg-bg7">
        <img src="" width="" height="">
      </div>
      <div class="col-lg col-lg-bg8">
        <img src="" width="" height="">
      </div>
      <div class="col-lg col-lg-bg9">
        <img src="" width="" height="">
      </div>
    </div>
    
    <div class="col-2">
      <div class="col-sm col-sm-bg1">
        <img src="img/logos/neopraxis.png" width="145.4" height="35.5">
      </div>
    </div>
    
    <div class="col-3">
      <div class="col-md col-md-bg1">
        <img src="img/logos/local-e.png" width="106.3" height="26">
      </div>
    </div>

  </div>
</section>
{% endblock %}