{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Portfolio
{% endblock %}

{% block content %}
<section class="portfolio-view">
  {# Title #}
  <div class="portfolio-view__background">
    <div class="portfolio-view__background-title">
      <p class="font-metropolis-bold">Portfolio</p>
      <span class="font-athelas-regular">There are a thousand ways to present your company, but only one where technology meets design, and that is where we begin to work together.</span>  
    </div>
  </div>
  {# Portfolio Container #}
  <div class="portfolio-view__container">
    {# Large cards #}
    <div class="col-1">
      <div class="card-lg card-lg-bg1 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/finacero.png" width="155" height="">
      </div>
      <div class="card-lg card-lg-bg2 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/rgv.png" width="98.7" height="">
      </div>
      <div class="card-lg card-lg-bg3 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/alegpaez.png" width="116.5" height="">
      </div>
      <div class="card-lg card-lg-bg4 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/98-coast.png" width="155" height="">
      </div>
      <div class="card-lg card-lg-bg5 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/debisasystems.png" width="155" height="">
      </div>
      <div class="card-lg card-lg-bg6 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/dondinero.png" width="155" height="">
      </div>
      <div class="card-lg card-lg-bg7 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/dreamwater.png" width="155" height="">
      </div>
      <div class="card-lg card-lg-bg8 cover" data-aos="flip-down" data-aos-delay="300" data-aos-duration="2000">
        <img src="img/logos/emma.png" width="155" height="">
      </div>
    </div>
    {# Small cards #}
    <div class="col-2">
      <div class="card-sm card-sm-bg1 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/neopraxis.png" width="145.4" height="">
      </div>
      <div class="card-sm card-sm-bg2 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/brick.png" width="94" height="">
      </div>
      <div class="card-sm card-sm-bg3 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/jb.png" width="87.7" height="">
      </div>
      <div class="card-sm card-sm-bg4 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/aerial360.png" width="155" height="">
      </div>
      <div class="card-sm card-sm-bg5 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/begona.png" width="155" height="">
      </div>
      <div class="card-sm card-sm-bg6 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/casabeltrami.png" width="155" height="">
      </div>
      <div class="card-sm card-sm-bg7 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/gemo.png" width="155" height="">
      </div>
      <div class="card-sm card-sm-bg8 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1500">
        <img src="img/logos/indots.png" width="155" height="">
      </div>
      <div class="card-sm card-sm-bg9 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="500" data-aos-duration="1500">
        <img src="img/logos/mccosmetics.png" width="155" height="">
      </div>
      <div class="card-sm card-sm-bg10 cover" data-aos="flip-down" data-aos-delay="700" data-aos-duration="1500">
        <img src="img/logos/florella.png" width="155" height="">
      </div>      
    </div>
    {# Medium cards #}
    <div class="col-3"> 
      <div class="card-md card-md-bg1 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/local-e.png" width="106.3" height="">
      </div>
      <div class="card-md card-md-bg2 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/workingch.png" width="118.6" height="">
      </div>
      <div class="card-md card-md-bg3 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/aguaviento.png" width="152.5" height="">
      </div>
      <div class="card-md card-md-bg4 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/opia.png" width="155" height="">
      </div>
      <div class="card-md card-md-bg5 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/rancholucero.png" width="155" height="">
      </div>
      <div class="card-md card-md-bg6 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/vre.png" width="155" height="">
      </div>
      <div class="card-md card-md-bg7 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/wellness.png" width="155" height="">
      </div>
      <div class="card-md card-md-bg8 cover card-bottom-margin" data-aos="flip-down" data-aos-delay="600" data-aos-duration="1800">
        <img src="img/logos/pacer.png" width="155" height="">
      </div>
      <div class="card-md card-md-bg9 cover" data-aos="flip-down" data-aos-delay="300" data-aos-duration="1800">
        <img src="img/logos/rochalandero.png" width="155" height="">
      </div>
    </div>
  </div>
  {# More Logo #}
  <div class="portfolio-view__more-log">
    <img src="img/logos/more-black-mobile.svg" alt="">
  </div>
</section>
{% endblock %}