{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Quote
{% endblock %}

{% block content %}

<section class="quotation-view">
  <img class="quotation_logo_more" src="img/logos/more-black-mobile.png" alt="more logo">
  <div class="quotation_view-wrapper">
    <h1 class="quotation-view__main-title font-metropolis-bold">Quote</h1>
    <p class="quotation_view__description font-athelas-regular">Would you like to get a quote for your project?</p>
    <p class="quotation_view-comision-text font-metropolis-regular">Please fill out this form and we'll contact you</p>
    <div class="quotation_view-container">
      <form name="form-quote" method="post">
        <div class="quotation-view-form-wrapper">
          <div class="quotation-view_form-col1">
            <div class="quotation-view__form-group font-metropolis-medium">
              <input class="font-metropolis-medium" type="text" name="nameQuote" id="nameQuote" required autocomplete="off">
              <label for="nameQuote" class="font-metropolis-medium">Full name</label>
            </div>
            <div class="quotation-view__form-group">
              <input class="font-metropolis-medium" type="tel" name="phoneQuote" id="phoneQuote" required autocomplete="off">
              <label for="phoneQuote" class="font-metropolis-medium">Phone number</label>
            </div>
            <div class="quotation-view__form-group">
              <input class="font-metropolis-medium" type="text" name="projectTypeQuote" id="projectTypeQuote" required autocomplete="off">
              <label for="projectTypeQuote" class="font-metropolis-medium">What kind of project do you have?</label>
            </div>
          </div>
          <div class="quotation-view_form-col2">
            <div class="quotation-view__form-group">
              <input class="font-metropolis-medium" type="email" name="emailQuote" id="emailQuote" required autocomplete="off">
              <label for="emailQuote" class="font-metropolis-medium">E-mail</label>
            </div>
            <div class="quotation-view__form-group">
              <input class="font-metropolis-medium" type="text" name="projectNameQuote" id="projectNameQuote" required autocomplete="off">
              <label for="projectNameQuote" class="font-metropolis-medium">Your project’s name</label>
            </div>
            <div class="quotation-view__form-group">
              {# <input type="number" name="budgetQuote" id="budgetQuote" required autocomplete="off">
              <label for="budgetQuote" class="font-metropolis-medium">Budget</label> #}
              <select class="font-metropolis-medium" name="budgetQuote" id="budgetQuote">
                <option class="font-metropolis-medium" value="Choose a budget option">Choose a budget option</option>
                <option class="font-metropolis-medium" value="20,000 MXN - 40,000 MXN">20,000 MXN - 40,000 MXN</option>
                <option class="font-metropolis-medium" value="40,000 MXN - 60,000 MXN">40,000 MXN - 60,000 MXN</option>
                <option class="font-metropolis-medium" value="60,000 MXN - 80,000 MXN">60,000 MXN - 80,000 MXN</option>
                <option class="font-metropolis-medium" value="80,000 MXN - 100,000 MXN">80,000 MXN - 100,000 MXN</option>
                <option class="font-metropolis-medium" value="More than 100,000 MXN">More than 100,000 MXN</option>
              </select>
            </div>
          </div>
          <div class="quotation-view_form-col3">
            <div class="quotation-view__form-group">
              <textarea cols="30" rows="10" type="text" name="detailsQuote" id="detailsQuote" required></textarea>
              <label for="detailsQuote" class="font-metropolis-medium">Any details you’d like to share?</label>
            </div>
          </div>
          <button type="submit" class="quotation-view__form-send__button careers-view__optional-form-send__button">
            <img src="img/icons/np-right-arrow.png">
            <p class="font-metropolis-medium">Send</p>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}