{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Quote
{% endblock %}

{% block content %}

<section class="quotation-view">
  <div class="quotation_view-wrapper">
    <h1 class="quotation-view__title font-metropolis-bold">Quote</h1>
    <p class="quotation_view__description font-athelas-regular">Would you like to get a quote for your project?</p>
    <hr>
    <p class="quotation_view-comision-text font-metropolis-bold">You just have to fill out this form and we’ll contact you as soon as possible:</p>
    <div class="quotation_view-container">
      <div class="quotation-view-form">
        <form action="" method="post">
          <div class="quotation-view_form-col1"></div>
          <div class="quotation-view_form-col2"></div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}