{% extends "partials/base.njk" %}

{% block meta %}
<meta property="og:title" content="Servicios | More Co.">
<meta property="og:description" content="Somos una empresa de diseño y desarrollo de software, nos dedicamos a crear las mejores soluciones tecnológicas. Desde páginas web, tiendas en línea o grandes plataformas.">
<meta name="description" content="Somos una empresa de diseño y desarrollo de software, nos dedicamos a crear las mejores soluciones tecnológicas. Desde páginas web, tiendas en línea o grandes plataformas.">
{% endblock %}

{% block title %}
Servicios
{% endblock %}

{% block content %}

<section class="services_view">
  <div class="services_view-wrapper">
    <div class="services_view-title-container">
      <h1 class="services_view-title font-metropolis-bold">Servicios</h1>
    </div>
    <div class="services_view-options-wrapper">
      <a class="services_view-option-link" href="#websites">
        <div class="services_view-options-container">
          <img class="services_view-options-icon" src="img/icons/websites-icon.png" alt="website icon">
          <p class="services_view-options-title font-athelas-regular">Páginas <br class="show-on-mobile"> web</p>
        </div>
      </a>
      <a class="services_view-option-link" href="#eCommerce">
        <div class="services_view-options-container">
          <img class="services_view-options-icon" src="img/icons/eCommerce-icon.png" alt="eCommerce icon">
          <p class="services_view-options-title font-athelas-regular">Tiendas <br class="show-on-mobile"> en línea</p>
        </div>
      </a>
      <a class="services_view-option-link"  href="#software">
        <div class="services_view-options-container">
          <img class="services_view-options-icon" src="img/icons/software-icon.png" alt="software icon">
          <p class="services_view-options-title font-athelas-regular">Desarrollo <br class="show-on-mobile"> de <i>software</i></p>
        </div>
      </a>
    </div>
    <div class="services_view-items-wrapper">
      <div id="websites" class="services_view-item">
        <div class="services_view-item-img">
          <img src="img/services-websites.jpg" alt="service image">
        </div>
        <div class="services_view-item-details details1">
          <img class="services_logo_more" src="img/logos/more-black-mobile.png" alt="">
          <p class="services_view-item-subtitle font-athelas-regular">Páginas web</p>
          <h1 class="services_view-item-details-heading font-metropolis-bold">La primera impresión es la que cuenta</h1>
          <p class="service_view-item-details-description font-athelas-regular">Ya todos sabemos que una Página web es nuestra nueva tarjeta de presentación. ¿Por qué no tener una increíble? Con más imágenes que texto podemos hacer que tus clientes se enamoren de tu producto o servicio, lo entiendan y vivan la mejor experiencia de usuario.</p>
          <div class="services_view-item-details-projects">
            <a href="http://rgvsoluciones.com/" target="_blank"><img src="img/services_rgv.jpg" alt="project image" class="services_view-item-details-project1"></a>
            <a href="http://finacero.mx/" target="_blank"><img src="img/services_finacero.jpg" alt="project image" class="services_view-item-details-project2"></a>
            <a href="http://rlabogados.mx/" target="_blank"><img src="img/services_rl.jpg" alt="project image" class="services_view-item-details-project3"></a>
          </div>
        </div>
      </div>
      <div id="eCommerce" class="services_view-item">
        <div class="services_view-item-img">
          <img src="img/services-eCommerce.jpg" alt="service image">
        </div>
        <div class="services_view-item-details">
          <div class="services_view-item-subtitle subEcommerce">
            <p class="font-athelas-regular">Tiendas en línea</p>
            <div class="services_shopify-wrapper">
              <img src="img/logos/shopify-partner-copy.png" alt="shopify logo">
              <img src="img/logos/shop-expert-black.png" alt="shopify logo">
            </div>
          </div>
          <h1 class="services_view-item-details-heading font-metropolis-bold">Vende tu producto o servicio</h1>
          <p class="service_view-item-details-description font-athelas-regular">No importa si tienes una empresa chica, mediana o grande. Te podemos ayudar a ser un negocio en línea de verdad. Diseñando y programando una bellísima tienda en línea para que le llegue a millones de clientes, creando una excelente experiencia de compra.</p>
          <div class="services_view-item-details-projects">
            <a href="https://www.mccosmetics.mx/" target="_blank"><img src="img/services_mc.jpg" alt="project image" class="services_view-item-details-project1"></a>
            <a href="https://drinkdreamwater.com/" target="_blank"><img src="img/services_dw.jpg" alt="project image" class="services_view-item-details-project2"></a>
            <a href="https://jbaccesorios.com/" target="_blank"><img src="img/services_jb.jpg" alt="project image" class="services_view-item-details-project3"></a>
          </div>
        </div>
      </div>
      <div id="software" class="services_view-item">
        <div class="services_view-item-img">
          <img src="img/services-software.jpg" alt="service image">
        </div>
        <div class="services_view-item-details">
          <p class="services_view-item-subtitle font-athelas-regular">Desarrollo de <i>software</i></p>
          <h1 class="services_view-item-details-heading font-metropolis-bold">Plataformas hechas a la medida</h1>
          <p class="service_view-item-details-description font-athelas-regular">Todo lo que te puedas imaginar es real, la tecnología es la mejor forma de crear nuevas empresas, productos o automatizar procesos. Queremos escuchar todos tus retos para ayudarte a vencerlos. ¡Crea algo increíble con nosotros!</p>
          <div class="services_view-item-details-projects">
            <a href="https://local-e.mx/" target="_blank"><img src="img/services_locale.jpg" alt="project image" class="services_view-item-details-project1"></a>
            <a href="https://dondinero.mx/" target="_blank"><img src="img/services_don_dinero.jpg" alt="project image" class="services_view-item-details-project2"></a>
            <a href="http://bricksa.mx/" target="_blank"><img src="img/services_brick.jpg" alt="project image" class="services_view-item-details-project3"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}