{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Team
{% endblock %}

{% block content %}

<section class="services_view">
  <div class="services_view-wrapper">
    <div class="services_view-title-container">
      <h1 class="services_view-title font-metropolis-bold">Services</h1>
    </div>
    <div class="services_view-options-wrapper">
      <div class="services_view-options-container">
        <img class="services_view-options-icon" src="img/icons/websites-icon.png" alt="website icon">
        <p class="services_view-options-title font-athelas-regular">Websites</p>
      </div>
      <div class="services_view-options-container">
        <img class="services_view-options-icon" src="img/icons/eCommerce-icon.png" alt="eCommerce icon">
        <p class="services_view-options-title font-athelas-regular">E-commerce</p>
      </div>
      <div class="services_view-options-container">
        <img class="services_view-options-icon" src="img/icons/software-icon.png" alt="software icon">
        <p class="services_view-options-title font-athelas-regular">Software</p>
      </div>
    </div>
  </div>
  <div class="services_view-item-wrapper">
    <div class="services_view-item">
      <div class="services_view-item-img">
        <img src="img/services-bgd.jpg" alt="service image">
      </div>
      <div class="services_view-item-details">
        <div class="services_view-item-subtitle">
          <p class="font-athelas-regular"></p>
        </div>
        <h1 class="services_view-item-details-heading"></h1>
        <p class="service_view-item-details-description"></p>
        <div class="services_view-item-details-projects">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project1">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project2">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project3">
        </div>
      </div>
    </div>
    <div class="services_view-item">
      <div class="services_view-item-img">
        <img src="img/services-bgd.jpg" alt="service image">
      </div>
      <div class="services_view-item-details">
        <div class="services_view-item-subtitle">
          <img src="img/logos/shopify-partner-copy.png" alt="shopify logo">
          <p class="font-athelas-regular"></p>
        </div>
        <h1 class="services_view-item-details-heading"></h1>
        <p class="service_view-item-details-description"></p>
        <div class="services_view-item-details-projects">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project1">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project2">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project3">
        </div>
      </div>
    </div>
    <div class="services_view-item">
      <div class="services_view-item-img">
        <img src="img/services-bgd.jpg" alt="service image">
      </div>
      <div class="services_view-item-details">
        <div class="services_view-item-subtitle">
          <p class="font-athelas-regular"></p>
        </div>
        <h1 class="services_view-item-details-heading"></h1>
        <p class="service_view-item-details-description"></p>
        <div class="services_view-item-details-projects">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project1">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project2">
          <img src="img/g_rgv.png" alt="project image" class="services_view-item-details-project3">
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}