{% extends "partials/base.njk" %}

{% block meta %}
{% endblock %}

{% block title %}
Team
{% endblock %}

{% block content %}
<section class="view_team">
  <div class="view_team-wrapper">
    <div class="view_team-container">
      <div class="view_team-title-container">
        <h1 class="view_team-title font-metropolis-bold">Why work at More?</h1>
      </div>
      <div class="view_team-description-container">
        <h2 class="view_team-description font-athelas-regular">All the projects are created by this amazing team, get to know us better.</h2>
      </div>
      <div class="view_team-photos-wrapper">
        <img src="img/team/yonatan.png" alt="yonatan">
        <img src="img/team/aless.png" alt="aless">
        <img src="img/team/pam.png" alt="pam">
        <img src="img/team/camilo.png" alt="camilo">
        <img src="img/team/ines.png" alt="ines">
      </div>
      <div class="view_team-team_member_description">
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Yonatan Rojas</h3>
          <h4 class="view_team-team_member-position">Front-End Developer</h4>
          <p class="view_team-team_member-phrase">“Administrador de profesión y Front-End Developer por pasión. Me gusta el cervezco y salir a acampar”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Alessandro Aguilar</h3>
          <h4 class="view_team-team_member-position">Front-End Developer</h4>
          <p class="view_team-team_member-phrase">“Time Travel Coder and Programming Lover”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Pamela Licona</h3>
          <h4 class="view_team-team_member-position">Front-End Developer</h4>
          <p class="view_team-team_member-phrase">“Desarrolladora Web siempre buscando aprender y tener nuevos retos. Disfruta de leer novelas de suspenso en su tiempo libre”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Camilo Soto</h3>
          <h4 class="view_team-team_member-position">Front-End Developer</h4>
          <p class="view_team-team_member-phrase">“A Front-end, who builds stuff with code. Strict in semantic and Web optimization”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Ines Iwadare</h3>
          <h4 class="view_team-team_member-position">Operations</h4>
          <p class="view_team-team_member-phrase">“Idea Collector, Designer, Checklist addict”</p>
        </div>
      </div>
      <div class="view_team-photos-wrapper">
        <img src="img/team/jorge.png" alt="jorge">
        <img src="img/team/ale.png" alt="ale">
        <img src="img/team/lili.png" alt="lili">
        <img src="img/team/mariana.png" alt="mariana">
        <img src="img/team/dylan.png" alt="dylan">
      </div>
      <div class="view_team-team_member_description">
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Jorge Rodriguez</h3>
          <h4 class="view_team-team_member-position">Back-End Developer</h4>
          <p class="view_team-team_member-phrase">“Entusiasta del aprendizaje de tecnologías de la información. Gusto de leer novelas de Sci-Fi y correr periódicamente”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Alejandro Moreno</h3>
          <h4 class="view_team-team_member-position">Sales</h4>
          <p class="view_team-team_member-phrase">“GET SHIT DONE”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Liliana Canedo</h3>
          <h4 class="view_team-team_member-position">Front-End Developer</h4>
          <p class="view_team-team_member-phrase">“Apasionada por la transformación de nuestros entornos a través de la tecnología y el desarrollo humano”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Mariana Castellanos</h3>
          <h4 class="view_team-team_member-position">UI Designer</h4>
          <p class="view_team-team_member-phrase">“Leo. Playing drums since 1998.  Love to creat beautiful things. Proud dog mom of one. Enjoy the little things”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Dylan Sánchez</h3>
          <h4 class="view_team-team_member-position">Back-End Developer</h4>
          <p class="view_team-team_member-phrase">“Musulmán, Programador y Batiziano”</p>
        </div>
      </div>
      <div class="view_team-photos-wrapper">
        <img src="img/team/raul.png" alt="raul">
        <img src="img/team/beto.png" alt="beto">
        <img src="img/team/cheeks.png" alt="cheeks">
        <img src="img/team/join.png" alt="join">
      </div>
      <div class="view_team-team_member_description">
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Raúl Martínez</h3>
          <h4 class="view_team-team_member-position">Front-End Developer</h4>
          <p class="view_team-team_member-phrase">“Optimista aún en las peores situaciones, mi fortaleza se encuentra en mis seres queridos y mi Señor”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Alberto Reséndiz</h3>
          <h4 class="view_team-team_member-position">Back-End Developer</h4>
          <p class="view_team-team_member-phrase">“Todólogo del Software, entusiasta de la JVM (Java-Groovy) y DevOps por gusto. Me gusta mucho el café y amo las enchiladas verdes. Escritor por hobbie. Duermo poco y sueño mucho”</p>
        </div>
        <div class="view_team-team_member-item">
          <h3 class="view_team-team_member-name">Enrique López</h3>
          <h4 class="view_team-team_member-position">Front-End Developer</h4>
          <p class="view_team-team_member-phrase">“Carismático, amo mi trabajo y me encantan las palomitas de maíz”</p>
        </div>
      </div>
    </div>
  </div>  
</section>

{% endblock %}