<footer class="site-footer">
  <div><a href=""><img src="img/logos/more-black.svg" alt=""></a></div>
  <div class="site-footer__menu">
    <a href="index.html" class="site-footer__menu-link {% if section == 'index' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Home</a>
    <a href="portfolio.html" class="site-footer__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Portfolio</a>
    {# <a href="index.html" class="site-footer__menu-link {% if section == 'services' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Services</a>
    <a href="index.html" class="site-footer__menu-link {% if section == 'carees' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Careers</a>
    <a href="index.html" class="site-footer__menu-link {% if section == 'team' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Team</a>
    <a href="index.html" class="site-footer__menu-link {% if section == 'referrals' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Referrals program</a> #}
    <a href="contact.html" class="site-footer__menu-link {% if section == 'contact' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Contact</a>
  </div>
  <p class="site-footer__menu-copyright font-metropolis-regular">&copy; 2017, More Co.</p>
</footer>
