<footer class="site-footer">
  <div><a href=""><img src="img/logos/more-black.svg" alt=""></a></div>
  <div class="site-footer__menu">
    <div class="site-footer__menu-wrapper">
      <div class="site-footer-menu-col1">
        <a href="index.html" class="site-footer__menu-link {% if section == 'index' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Home</a>
        <a href="portfolio.html" class="site-footer__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Portfolio</a>
        <a href="services.html" class="site-footer__menu-link {% if section == 'services' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Services</a>
        <a href="careers.html" class="site-footer__menu-link {% if section == 'careers' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Careers</a>
      </div>
      <div class="site-footer-menu-col2">
        <a href="team.html" class="site-footer__menu-link {% if section == 'team' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Team</a>
        <a href="referrals.html" class="site-footer__menu-link {% if section == 'referrals' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Referrals program</a>
        <a href="quote.html" class="site-footer__menu-link {% if section == 'quote' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Quote</a>
        <a href="contact.html" class="site-footer__menu-link {% if section == 'contact' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Contact</a>
      </div>
    </div>
  </div>
  <p class="site-footer__menu-copyright font-metropolis-regular">&copy; 2017, More Co.</p>
</footer>