<nav class="site-navbar">
  <div class="header-wrapper">
    <div class="site-navbar__desktop-logo-container">
      <a href="index-es.html"><img class="site-navbar__desktop-logo-top" src="img/logos/more-white.svg" alt="Logo"></a> {# Change #}
      <a href="index-es.html"><img class="site-navbar__desktop-logo-bottom" src="img/logos/more-black.svg" alt="Logo"></a>
    </div>
    <div class="site-navbar__menu-trigger">
      <img class="site-navbar__menu-white" src="img/icons/menu-white-mobie.svg" alt="">
      <img class="site-navbar__menu-black" src="img/icons/menu-black.svg" alt="">
    </div>
    <div class="site-navbar__menu-container">
      <div class="site-navbar__mobile-logo-container">
        <img class="site-navbar__mobile-img-menu" src="img/icons/menu-white-mobie.svg" alt="more logo">
        <div class="second_menu">
          <div class="lang_menu_wrapper lang_mobile">
            <div class="site-lang__menu">
              <a href="{% if section == 'index-es' %}/{% elif section == 'portfolio-es' %}portfolio.html{% elif section == 'services-es' %}services.html{% elif section == 'careers-es' %}careers.html{% elif section == 'team-es' %}team.html{% elif section == 'referrals-es' %}referrals.html{% elif section == 'quote-es' %}quote.html{% elif section == 'contact-es' %}contact.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ENG</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
            <div class="site-lang__menu">
              <a href="{% if section == 'index' %}index-es.html{% elif section == 'portfolio' %}portfolio-es.html{% elif section == 'services' %}services-es.html{% elif section == 'careers' %}careers-es.html{% elif section == 'team' %}team-es.html{% elif section == 'referrals' %}referrals-es.html{% elif section == 'quote' %}quote-es.html{% elif section == 'contact' %}contact-es.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ESP</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
          </div>
        </div>
      </div>
      <div class="site-navbar__menu">
        <a href="index-es.html" class="site-navbar__menu-link {% if section == 'index-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Inicio</a>
        <a href="portfolio-es.html" class="site-navbar__menu-link {% if section == 'portfolio-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Portafolio</a>
        <a href="services-es.html" class="site-navbar__menu-link {% if section == 'services-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Servicios</a>
        <a href="careers-es.html" class="site-navbar__menu-link {% if section == 'careers-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Aplicar</a>
        <a href="team-es.html" class="site-navbar__menu-link {% if section == 'team-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Equipo</a>
        <a href="referrals-es.html" class="site-navbar__menu-link {% if section == 'referrals-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Programa de referidos</a>
        <a href="quote-es.html" class="site-navbar__menu-link {% if section == 'quote-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Cotización</a>
        <a href="contact-es.html" class="site-navbar__menu-link {% if section == 'contact-es' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Contacto</a>
        <div class="second_menu hide-on-mobile">
          <div class="site-navbar__divider">
          </div>
          <div class="lang_menu_wrapper lang_menu_desktop">
            <div class="site-lang__menu">
              <a href="{% if section == 'index-es' %}/{% elif section == 'portfolio-es' %}portfolio.html{% elif section == 'services-es' %}services.html{% elif section == 'careers-es' %}careers.html{% elif section == 'team-es' %}team.html{% elif section == 'referrals-es' %}referrals.html{% elif section == 'quote-es' %}quote.html{% elif section == 'contact-es' %}contact.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ENG</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
            <div class="site-lang__menu">
              <a href="{% if section == 'index' %}index-es.html{% elif section == 'portfolio' %}portfolio-es.html{% elif section == 'services' %}services-es.html{% elif section == 'careers' %}careers-es.html{% elif section == 'team' %}team-es.html{% elif section == 'referrals' %}referrals-es.html{% elif section == 'quote' %}quote-es.html{% elif section == 'contact' %}contact-es.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ESP</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
          </div>
        </div>
      </div>
      <a href="index-es.html"><img src="img/logos/more-white-mobile.png" alt="Logo"></a> {# Change #}
    </div>
  </div>
</nav>