<nav class="site-navbar">
  <div class="header-wrapper">
    <div class="site-navbar__desktop-logo-container">
      <a href="index.html"><img class="site-navbar__desktop-logo-top" src="img/logos/more-white.svg" alt="Logo"></a> {# Change #}
      <a href="index.html"><img class="site-navbar__desktop-logo-bottom" src="img/logos/more-black.svg" alt="Logo"></a>
    </div>
    <div class="site-navbar__menu-trigger">
      <img class="site-navbar__menu-white" src="img/icons/menu-white-mobie.svg" alt="">
      <img class="site-navbar__menu-black" src="img/icons/menu-black.svg" alt="">
    </div>
    <div class="site-navbar__menu-container">
      <div class="site-navbar__mobile-logo-container">
        <img class="site-navbar__mobile-img-menu" src="img/icons/menu-white-mobie.svg" alt="">
        <div class="second_menu second-menu-mobile">
          <div class="lang_menu_wrapper">
            <div class="site-lang__menu">
              <a href="{% if section == 'index-es' %}/{% elif section == 'portfolio-es' %}portfolio.html{% elif section == 'services-es' %}services.html{% elif section == 'careers-es' %}careers.html{% elif section == 'team-es' %}team.html{% elif section == 'referrals-es' %}referrals.html{% elif section == 'quote-es' %}quote.html{% elif section == 'contact-es' %}contact.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ENG</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
            <div class="site-lang__menu">
              <a href="{% if section == 'index' %}index-es.html{% elif section == 'portfolio' %}portfolio-es.html{% elif section == 'services' %}services-es.html{% elif section == 'careers' %}careers-es.html{% elif section == 'team' %}team-es.html{% elif section == 'referrals' %}referrals-es.html{% elif section == 'quote' %}quote-es.html{% elif section == 'contact' %}contact-es.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ESP</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
          </div>
        </div>
      </div>
      <div class="site-navbar__menu">
        <a href="index.html" class="site-navbar__menu-link {% if section == 'index' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Home</a>
        <a href="portfolio.html" class="site-navbar__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Portfolio</a>
        <a href="services.html" class="site-navbar__menu-link {% if section == 'services' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Services</a>
        <a href="careers.html" class="site-navbar__menu-link {% if section == 'careers' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Careers</a>
        <a href="team.html" class="site-navbar__menu-link {% if section == 'team' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Team</a>
        <a href="referrals.html" class="site-navbar__menu-link {% if section == 'referrals' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Referrals program</a>
        <a href="quote.html" class="site-navbar__menu-link {% if section == 'quote' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Quote</a>
        <a href="contact.html" class="site-navbar__menu-link {% if section == 'contact' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Contact</a>
        <div class="second_menu hide-on-mobile">
          <div class="site-navbar__divider">
          </div>
          <div class="lang_menu_wrapper">
            <div class="site-lang__menu">
              <a href="{% if section == 'index-es' %}/{% elif section == 'portfolio-es' %}portfolio.html{% elif section == 'services-es' %}services.html{% elif section == 'careers-es' %}careers.html{% elif section == 'team-es' %}team.html{% elif section == 'referrals-es' %}referrals.html{% elif section == 'quote-es' %}quote.html{% elif section == 'contact-es' %}contact.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ENG</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
            <div class="site-lang__menu">
              <a href="{% if section == 'index' %}index-es.html{% elif section == 'portfolio' %}portfolio-es.html{% elif section == 'services' %}services-es.html{% elif section == 'careers' %}careers-es.html{% elif section == 'team' %}team-es.html{% elif section == 'referrals' %}referrals-es.html{% elif section == 'quote' %}quote-es.html{% elif section == 'contact' %}contact-es.html{% endif %}" class="site-lang__menu-link font-metropolis-extralight">ESP</a>
              <img src="../img/icons/lang-down-arrow.png" alt="" class="lang-down-arrow">
            </div>
          </div>
        </div>
      </div>
      <a href="index.html"><img src="img/logos/more-white-mobile.png" alt="Logo"></a> {# Change #}
    </div>
  </div>
</nav>