
<nav class="site-navbar">
  <div class="header-wrapper">
    <div class="site-navbar__desktop-logo-container">
      <a href="index.html"><img class="site-navbar__desktop-logo-top" src="img/logos/more-white.svg" alt="Logo"></a> {# Change #}
      <a href="index.html"><img class="site-navbar__desktop-logo-bottom" src="img/logos/more-black.svg" alt="Logo"></a>
    </div>
    <div class="site-navbar__menu-trigger">
      <span class="fa fa-bars"></span>
    </div>
    <div class="site-navbar__menu-container">
      <div class="site-navbar__mobile-logo-container">
        <a href="index.html"><img src="#" alt="Logo"></a> {# Change #}
      </div>
      <div class="site-navbar__menu">
        <a href="index.html" class="site-navbar__menu-link {% if section == 'index' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Home</a>
        <a href="index.html" class="site-navbar__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Portfolio</a>
        {# <a href="index.html" class="site-navbar__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Services</a>
        <a href="index.html" class="site-navbar__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Careers</a>
        <a href="index.html" class="site-navbar__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Team</a>
        <a href="index.html" class="site-navbar__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Referrals program</a> #}
        <a href="index.html" class="site-navbar__menu-link {% if section == 'portfolio' %} active font-metropolis-medium {% else %} font-metropolis-light {% endif %}">Contact</a>
        <div class="second_menu">
          <div class="site-navbar__divider">
          </div>
          <div class="lang_menu_wrapper">
            <div class="site-lang__menu">
              <a href="index.html" class="site-lang__menu-link font-metropolis-extralight">ENG</a>
              <img src="../img/icons/lang-down-arrow.svg" alt="" class="lang-down-arrow">
            </div>
            <div class="site-lang__menu">
              <a href="index.html" class="site-lang__menu-link font-metropolis-extralight">ESP</a>
              <img src="../img/icons/lang-down-arrow.svg" alt="" class="lang-down-arrow">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>