footer
  padding 4rem 0
  background-image url('../img/backgrounds/footer-bgd.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  total-center()
  flex-direction column

.site-footer__menu
  color black
  margin 2rem 0 3rem 0

.site-footer__menu-link
  font-size remify(14)
  color #000
  padding 0 15px
  border-right 1px solid $blueStandar

  &.active
    font-weight bold
    color $darkBlue
  
  &:hover
    color $blueStandar

.site-footer__menu-link:last-child
  border none

.site-footer__menu-copyright
  font-size remify(14)
  
