
.site-navbar
  background #fff
  display flex
  justify-content center
  height 85px // Change
  left 0
  position fixed
  top 0
  width 100%
  z-index 12
  transition height 0.4s, transform 0.2s, 0s
  -webkit-box-shadow 0px 3px 8px -4px rgba(0,0,0,0.75)
  -moz-box-shadow 0px 3px 8px -4px rgba(0,0,0,0.75)
  box-shadow 0px 3px 8px -4px rgba(0,0,0,0.75)

  // & + main
  //   padding-top 109px // Change
  
  &.active
    height 158px
    transform translateY(85px)
    background #ffffff00
    box-shadow none
        
    .header-wrapper
      border-top 1px solid #fff
    
    .site-navbar__desktop-logo-container
      transform translate(444px, -122px)
    
    .site-navbar__menu
      //transform translateX(-183px)
      transform translateX(0)
    
    .second_menu
      //transform translateX(178px)
      transform translateX(6px)
      padding 0
      
    .site-navbar__divider
      opacity 0
    
    .site-navbar__menu-link
      color #fff
      padding 21px 8px 18px 
      
    .site-navbar__desktop-logo-top
      display block
    
    .site-navbar__desktop-logo-bottom
      opacity 0
      display none
      
    .site-lang__menu-link
      background-color $blueStandar
      color #fff
    
    .site-navbar__menu-link
      &:hover
        background-color $blueStandar
        color #fff
        &:after
          width 0 
          height 0
      
    .site-navbar__menu-link.active
      background-color $blueStandar
      color #fff
      &:after
        width 0
        height 0

.header-wrapper
  display flex
  max-width 992px
  justify-content space-between
  width 100%

.site-navbar__menu-trigger,
.site-navbar__mobile-logo-container
  display none

.site-navbar__menu-trigger
  color white // Change

.site-navbar__desktop-logo-container
  display flex
  align-items center
  transition transform .4s
  
  img
    -webkit-transition opacity 0.2s ease-in-out
    -moz-transition opacity 0.2s ease-in-out
    -o-transition opacity 0.2s ease-in-out
    transition opacity 0.2s ease-in-out
  
  .site-navbar__desktop-logo-top
    width 8.9375rem  // Change
    display none
    margin-top 15px
  
  .site-navbar__desktop-logo-bottom
    width 6.9375rem 
    
.site-navbar__menu-container
  flex-grow 1
  text-align right
  height 100%

.site-navbar__menu
  height 100%
  display flex
  justify-content flex-end
  align-items flex-start
  transition .8s transform

.site-navbar__menu-link
  color black // Change
  font-size remify(14) // Change
  padding 34px 8px 35px
  transition .6s background-color linear
  border-radius 1px
  letter-spacing .2px

  &:hover
    position relative
    &:after
      content ''
      background-color #2D698F
      width 100%
      height 5px
      position absolute
      bottom 0
      left 0
    
  &.active
    position relative
    &:after
      content ''
      background-color #2D698F
      width 100%
      height 5px
      position absolute
      bottom 0
      left 0

    // background-color $blueStandar
    // color #fff

.second_menu
  height 55px
  display flex
  align-items center
  transition transform .47s
  padding 40px 0 14px 0

.site-navbar__divider
  width 1px
  background-color $blueStandar
  height 20px
  margin 0 9px
  transition opacity .2s

.lang_menu_wrapper
  display flex
  border 1px solid #fff0
  flex-direction column
  height 20px
  overflow hidden
  transition height .2s, border-color .25s
  
  &.active

    border 1px solid #fff
    height auto
    transform translateY(8px)
    
    .site-lang__menu:hover
      background-color #2D698F

.site-lang__menu
  cursor pointer
  background-color transparent
  transition background-color .1s

.site-lang__menu-link
  color #000
  font-size remify(13)
  padding 0 5px
  -webkit-transition color 0.2s linear
     -moz-transition color 0.2s linear
      -ms-transition color 0.2s linear
       -o-transition color 0.2s linear
          transition color 0.2s linear

.lang-down-arrow
  padding 0 5px 2.5px 0
  width 12px
  
@media screen and (max-width: 766px) // Change
  .second_menu
    display none 
  
  .site-navbar
    -webkit-box-shadow 0px 3px 8px -4px rgba(0,0,0,0.75)
    -moz-box-shadow 0px 3px 8px -4px rgba(0,0,0,0.75)
    box-shadow 0px 3px 8px -4px rgba(0,0,0,0.75)
    justify-content space-between
    height 70px !important // Change
    padding 0 25px // Change

    &.active
      box-shadow none
      height 158px
      transform translateY(30px)

      .site-navbar__desktop-logo-container
        transform translate(-25px, 0)
        align-items flex-start
      
      .site-navbar__menu-trigger
        display block
        float right
        font-size 18px // Change

        img
          width 45px
      
      .site-navbar__menu-container
        top -30px
      
      .site-navbar__menu-black
        display none
      
      .site-navbar__menu
        transform translateX(0)

  .site-navbar
    .site-navbar__menu-black
      display block

  .site-navbar__desktop-logo-container
    img
      height remify(20) // Change
      width auto

  .site-navbar.active .header-wrapper
    border none 

  .site-navbar__mobile-logo-container
    display flex
    align-items center
    justify-content space-between
    center-block()
    width 80% // Change

    .site-navbar__mobile-img-menu
      width 40px

    img
      width 3.5em

  .site-navbar__menu-trigger
    display flex
    align-items center
    float right
    font-size 18px // Change

    img
      width 40px

  .site-navbar__menu-container
    background #1b1e20 // Change
    color #fff
    height 100vh
    margin-right 0
    overflow-y auto
    position fixed
    right -280px
    top 0
    transition right 0.2s
    width 280px
    padding-top 25px // Change

  .site-navbar__menu-container--show-menu
    right 0

  .site-navbar__menu
    margin-bottom 30px // Change
    margin-top 40px // Change
    text-align left
    height auto
    flex-wrap wrap



  .site-navbar__menu-link
    color #fff
    padding 10px 8px 10px 30px !important
    display block
    height auto
    display block
    text-align left
    flex-basis 100%
    font-size 17px
  
    &.active
      border-left 4px solid $blueStandar
      background-color transparent
  
  .site-navbar__desktop-logo-container
      transform translate(0px, 0px)
